/*公共*/
html,body{height: 100vh;width: 100%;position: relative;}
.hide{display: none;}
.unedit{color: #999;}

.pay{position: relative;}
.loadzz{width:100%;height:100%;position:absolute;top:0;left:0;z-index: 9999;}
.loading_k{width:100%;height:100%;background:rgba(0,0,0,.5);}
.loading_kz{width:100px;height:100px;margin:-50px 0 0 -50px;}
.h3{width:300px;text-align:center;color:#fff;position:absolute;top:65%;left:calc(50% - 150px);font-size:18px}
.loading{position:absolute;top:50%;left:50%;margin:-13px 0 0 -13px;width:26px;height:26px;border:2px solid;border-color:#fff #fff transparent;border-radius:50%;box-sizing:border-box;animation:loading 1s linear infinite}
.loadingz{top:35%;margin:-15px 0 0 -15px;width:30px;height:30px;}
@keyframes loading{0%{transform:rotate(0)}
	100%{transform:rotate(720deg)}
}

/*底部*/
.bottom{position: absolute;bottom: 0;width: 100%;height: 50px;}
.copyright{position: absolute;bottom: 20px;width: 100%;text-align: center;color: #fff;letter-spacing: 5px;font-size: 12px;}
.loginbg{width: 100%;position: absolute;bottom: 0;}

/*登陆*/
.logo_k{text-align: center;margin-bottom: 25px;background: url(../img/login_r.png) no-repeat right center; background-size: 50px auto;padding-top: 40px;}
.login_text{padding-left: 20px;text-align: left;font-size: 24px;line-height: 40px;}
.login_text span{color: #DAB567;}
.login{background:url(../img/loginbg.png) no-repeat bottom left #fff;height: 100%;width: 100%;position: relative;background-size: 100% auto;}
.login-form{width:100%;max-width:480px;margin:0 auto;overflow: hidden;border-radius: 8px;padding: 35px 20px;}
.input-block{display: block;width: 100%;line-height: 50px;margin-bottom: 24px;position: relative;border-radius: 50px;box-shadow: 0 0 4px rgba(0, 0, 0, .15);overflow: hidden;}
.input-block span{width: auto;font-size: 18px;margin-right: 5px;color: #DAB567;position: absolute;left: 22px;}
.input-block input{width: 100%;line-height: 50px;padding-left: 50px; box-sizing: border-box;}
.input-block .verbtn{width: 100px;line-height:50px;background: #DAB567;color: #fff;text-align: center;font-size: 14px;border-radius: 50px;position: absolute;right: 0;top: 0;padding: 0;}
.input-block .verbtn.disabled{background: #dadada;}
.statement{display: inline-block;display: flex;justify-content: flex-start;align-items: center;}
.statement div{font-size: 12px;line-height: 20px;display: inline-block;float: left;}
.statement div a{color: #DAB567;}
.checkB {width: 14px;height: 14px;position: relative;display: inline-block;margin-right: 8px;}
.checkB input{width: 20px;height: 20px;visibility: hidden;}
.checkB label{width: 14px;height: 14px;border: 1px solid #DAB567;position: absolute;top: 0;left: 0;border-radius: 2px;}
.checkB input:checked+label{background:url(../img/checked.png) no-repeat center;background-size: 85%;}
.loginbtn{display:block;width: 100%;height: 50px;margin:50px auto 0;text-align:center;font-size: 16px;line-height: 50px;background: #DAB567;color: #fff;border-radius: 50px;}

/*VIP中心*/
.vipCenter{width: 100%;height: 100%;background: #f5f5f5;}
.vipBlock{width: 100%;padding: 0 20px;margin-bottom: 10px;background: #fff;}
.vipBlock:last-child{margin-bottom: 0;}
.vipCardB{padding-top: 20px;}
.vipCard{height: 180px;border-radius: 6px;position: relative;margin-bottom: 16px;
	background: -webkit-linear-gradient(44deg, #CE9C55, #ECBF76); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(44deg, #CE9C55, #ECBF76); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(44deg, #CE9C55, #ECBF76); /* Firefox 3.6 - 15 */
	background: linear-gradient(44deg, #CE9C55, #ECBF76); /* 标准的语法（必须放在最后） */}
.vipCard_bg{position: absolute;display: block;width: 55%;z-index: 100;}
.vipCard_bg1{bottom: -10%;left: 0;}
.vipCard_bg2{top: -10%;right: 0;}
.vipCard_block{position: absolute;z-index: 110;}
.vipCard_name{top: 14px;left: 14px;display: flex;justify-content: center;align-items: center;}
#vip_avatarImg{width: 30px;height: 30px;border-radius: 50%;overflow: hidden;background: #fff;}
.vipCard_tit{font-size: 16px;color: #fff;margin-left: 8px;}
.vipCard_num{left: 10px;bottom: 14px;color: #fff;font-size: 14px;}
.vipCard_num span{margin-left: 5px;}
.vipCard_code{right: 14px;bottom: 14px;width: 36px;height: 36px;background: url(../img/vipCard_code.png); background-size: cover;}
.absolute{position: absolute;top: 30%;z-index: 99999;left: 20px;}
.payCode{border-radius: 4px;background: #fff;text-align: center;color: #D19F58;padding-top: 20px;}
.payCodetit{font-size: 20px;margin-bottom: 7px;}
.payCodetips{font-size: 14px;margin-bottom: 13px;}
.payCodeimg{margin-bottom: 14px;}
.payCodeimg img{margin: 0 auto;}
.payCodemoney{font-size: 12px;padding: 14px 0;}
.payCodemoney span{font-size: 20px;}
.payCodeline{height: 12px;background: url(../img/payCodeline.png) repeat-x left center;position: relative;overflow: hidden;}
.payCodeline::before,.payCodeline::after{content: '';position: absolute;width: 12px;height: 12px;background: rgb(153,153,153);border-radius: 50%;}
.payCodeline::before{left: -6px;}
.payCodeline::after{right: -6px;}
.vipProfile{widows: 100%;display: flex;justify-content: space-between;align-items: center;margin-left: -20px;margin-right: -20px;}
.vipProfile_block{text-align: center;position: relative;width: 33.333333%;margin-bottom: 16px;}
.vipProfile_block::after{content: '';width: 1px;height: 70%;position: absolute;top: 15%;right: 0;background: #e5e5e5;}
.vipProfile_block:last-child::after{display: none;}
.vipProfile_tit{margin-bottom: 4px;font-size: 14px;color: #252A32;}
.vipProfile_data{font-size: 14px;color: #D19F58;}
.vipProfile_data span{font-size: 18px;}

/* 操作列表 */
.vipTool{padding: 0;}
.vipTooli{width: 100%;border-bottom: 1px solid #e5e5e5;height: 50px;padding-left: 20px;display: flex;justify-content: flex-start;align-items: center;position: relative;}
.vipTooli:last-child{border: none;}
.vipTooli::after{content: '';position: absolute;top: calc(50% - 10px);right: 14px;width: 20px;height: 20px;background: url(../img/vipli_bg1.png);background-size: cover;}
.toolimg{width: 22px;height: 22px;}
.toolitit{font-size: 16px;margin-left: 10px;}

/* 修改资料 */
.vipInfo{width: 100%;height: 100%;background: #fff;}
.vipInfoul{margin-bottom: 60px;}
.vipInput{line-height: 49px;width: 100%;height: 49px;}
.vipInfoli{height: 50px;width: 100%;padding-left: 24px;padding-right: 20px;border-bottom: 1px solid #e5e5e5;display: flex;justify-content: space-between;align-items: center;font-size: 16px;}
.vipInfoliL{width: 100px;height: 100%;line-height: 49px;color: #666;}
.vipInfoliR{width: calc(100% - 50px);height: 100%;}
.vipInfosave{width: calc(100% - 40px);height: 50px;margin: 0 auto;text-align: center;line-height: 50px;border-radius: 60px;color: #fff;font-size: 16px;
	background: -webkit-linear-gradient(44deg, #ECBF76, #CE9C55); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(44deg, #ECBF76, #CE9C55); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(44deg, #ECBF76, #CE9C55); /* Firefox 3.6 - 15 */
	background: linear-gradient(44deg, #ECBF76, #CE9C55); /* 标准的语法（必须放在最后） */}
.jiantou{position: relative;}
.jiantou:after{content: '';position: absolute;top: calc(50% - 8px);right: 0;width: 16px;height: 16px;background: url(../img/vipli_bg2.png);background-size: cover;}
.vipInputRB{position: relative;height: 49px;display: inline-block;width: 70px;}
.vipInputRB input[type="radio"]{width: 18px;height: 18px;opacity: 0;margin-top: 16px;}
.vipInputRB label{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: url(../img/radio.png) no-repeat left center;background-size: 20px;color: #999;}
.vipInputRB label span{width: 100%;height: 100%;line-height: 49px;padding-left: 30px;}
.vipInputRB input:checked+label {background: url(../img/radio-c.png) no-repeat left center;background-size: 20px;color: #000;}

/* 最近账单 */
.vipBill{padding: 0;}
.vipBilltit{height: 50px;border-bottom: 1px solid #e5e5e5;display: flex;justify-content: space-between;align-items: center;padding-left: 20px;padding-right: 36px;position: relative;}
.vipBilltit::after{content: '';position: absolute;top: calc(50% - 10px);right: 14px;width: 20px;height: 20px;background: url(../img/vipli_bg1.png);background-size: cover;}
.vipBilltit a{font-size: 14px;color: #999;}
.vipBillul{height: calc(100% - 50px);overflow: scroll;}
.vipBilli{height: 66px;border-bottom: 1px solid #e5e5e5;padding: 0 20px;display: flex;justify-content: space-between;align-items: center;}
.vipBilli:last-child{border: none;}
.recharge{color: #D19F58;}
.linethrough{text-decoration:line-through}
.grayness{color: #666;}
.vipBilliL{}
.vipBillitit{font-size: 14px;margin-bottom: 4px;}
.vipBillitime{color: #999999;}
.vipBilliR{text-align: right;}
.vipBillimoney{font-size: 16px;margin-bottom: 4px;}
.vipBillistate{margin-right: 20px;font-size: 14px;}
