/*公共*/
html,
body {
	height: 100vh;
	width: 100%;
	position: relative;
	background: #fff;
}

* {
	/* transition: 0.3s all; */
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}

[v-cloak] {
	display: none !important;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.flex_cc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.unedit {
	color: #999;
}

.B-gray {
	background: #f5f5f5 !important;
}

.F-qing {
	color: #2C97B1 !important;
}

.mask {
	background: rgba(0, 0, 0, .3);
	width: 100%;
	height: calc(100% - 56px);
	position: fixed;
	z-index: 10000;
	bottom: 0;
}

.pay {
	position: relative;
}

.loadzz {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}

.loading_k {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}

.loading_kz {
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
}

.h3 {
	width: 300px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 65%;
	left: calc(50% - 150px);
	font-size: 18px
}

.loadingB {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -13px 0 0 -13px;
	width: 26px;
	height: 26px;
	border: 2px solid;
	border-color: #fff #fff transparent;
	border-radius: 50%;
	box-sizing: border-box;
	animation: loading 1s linear infinite
}

.loadingz {
	top: 35%;
	margin: -15px 0 0 -15px;
	width: 30px;
	height: 30px;
}

@keyframes loading {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(720deg)
	}
}

.mTit {
	text-align: center;
	font-size: 18px;
	color: #EEE1C0;
	line-height: 26px;
	padding: 15px 0;
}

.mTit2 {
	width: 70px;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	color: #C49769;
	line-height: 22px;
	text-align: center;
	position: relative;
}

.mTit2:before,
.mTit2:after {
	position: absolute;
	content: '';
	width: 90px;
	height: 10px;
	background-position: center;
	background-size: 100%;
	top: calc(50% - 5px);
}

.mTit2:before {
	left: -140%;
	background-image: url(../images/tit_bg_l.png);
}

.mTit2:after {
	right: -140%;
	background-image: url(../images/tit_bg_r.png);
}



/*自定义样式*/
/*首页*/
.vipCenter {
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-image: url(../images/vip_bg.png);
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.mebInfo {
	width: calc(100% - 30px);
	height: 160px;
	margin: 0 auto 20px;
	border-radius: 6px;
	position: relative;
	box-shadow: 0px 0px 6px 0px rgba(135, 135, 135, 0.5);
	background: -webkit-linear-gradient(#F9E2C3, #E9C18D);
	background: -o-linear-gradient(#F9E2C3, #E9C18D);
	background: -moz-linear-gradient(#F9E2C3, #E9C18D);
	background: linear-gradient(#F9E2C3, #E9C18D);
}

.mebInfoCon {
	position: absolute;
	top: 12px;
	left: 12px;
	justify-content: flex-start;
	align-items: flex-end;
}

.headImg {
	padding-top: 13px;
	padding-left: 12px;
}

.headImg img {
	width: 44px;
	height: 44px;
	/* background: #0000FF; */
	border-radius: 50%;
	overflow: hidden;
}

.headImg {
	width: 59px;
	height: 60px;
	background-image: url(../images/headImg_bg.png);
	background-size: cover;
}

.headCon {
	height: 44px;
	margin-bottom: 2px;
	margin-left: 6px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.headCon h3 {
	font-weight: 600;
	font-size: 16px;
}

.headCon h3 span {
	background: #322F2D;
	color: #FFDFB7;
	line-height: 20px;
	padding: 0 5px;
	margin-left: 4px;
	font-size: 14px;
	position: relative;
}

.headCon h3 span i {
	font-size: 14px;
}

.headCon h3 span:after {
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	width: 0;
	height: 0;
	border-width: 0 6px 20px;
	border-style: solid;
	border-color: transparent transparent transparent #322F2D;
}


/* 功能列表 */

.mebFun {
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 100%;
	justify-content: space-between;
}

.mebFun li {
	width: 33.3%;
	flex-direction: column;
	position: relative;
}

.mebFun li:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 15%;
	width: 1px;
	height: 70%;
	background: #D8B896;
}

.mebFun li h5 {
	font-size: 14px;
	color: #956A48;
	margin-bottom: 2px;
	line-height: 20px;
}

.mebFun li p {
	font-size: 18px;
	color: #302D2E;
	font-weight: 600;
	line-height: 25px;
}

.mebFun li p span {
	font-weight: 600;
}

.mTit2 {
	margin-bottom: 30px;
}

.mFun {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 5px;
}

.mFun li {
	flex-direction: column;
	width: 25%;
	margin-bottom: 20px;
	position: relative;
	overflow: initial;
}

.stateOff {
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-webkit-filter: grayscale(1);
}

.mFun li:first-child i {
	font-size: 28px;
}

.mFun i {
	width: 42px;
	height: 42px;
	color: #fff;
	border-radius: 50%;
	font-size: 24px;
	text-align: center;
	line-height: 44px;
	margin-bottom: 10px;
	background: -webkit-linear-gradient(#FEC63F, #FF9534);
	background: -o-linear-gradient(#FEC63F, #FF9534);
	background: -moz-linear-gradient(#FEC63F, #FF9534);
	background: linear-gradient(#FEC63F, #FF9534);
}

.mFun p {
	font-size: 14px;
}

.mTips {
	position: absolute;
	top: -12px;
	left: 70%;
	font-size: 12px;
	color: #fff;
	width: auto;
	background: #FC5548;
	border-radius: 20px;
	line-height: 18px;
	padding: 0 6px;
	z-index: 50;
	white-space: nowrap;
}

.mTips:before {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 0;
	border-width: 6px 6px 9px;
	border-style: solid;
	border-color: transparent transparent #FC5548;
	transform: rotate(-20deg);
	z-index: -1;
}


/* 会员支付页 */
.payCode {
	padding: 14px 15px;
	background-image: none;
	background: -webkit-linear-gradient(#EEAE46, #F6972F);
	background: -o-linear-gradient(#EEAE46, #F6972F);
	background: -moz-linear-gradient(#EEAE46, #F6972F);
	background: linear-gradient(#EEAE46, #F6972F);
}

.payCon {
	background: #fff;
	border-radius: 6px;
	overflow: hidden;
}

.payCon h3 {
	width: 100%;
	height: 70px;
	background: #F5F5F5;
	font-size: 18px;
	line-height: 25px;
	color: #333;
	font-weight: 600 !important;
	text-align: center;
	flex-direction: column;
}

.payCon h3 span {
	display: block;
	font-size: 14px;
	line-height: 20px;
	margin-top: 4px;
}

.codeCon {
	flex-direction: column;
	padding-top: 14px;
	margin-bottom: 20px;
}

.codeCon #cardConSysCode {
	width: 240px;
	height: 60px;
	margin-bottom: 10px;
}

.codeCon p {
	font-size: 14px;
	color: #333;
	line-height: 20px;
	margin-bottom: 9px;
}

.codeCon #qrcode {
	width: 140px;
	height: 140px;
}

.payline {
	width: 100%;
	height: 1px;
	border: 1px dashed #E5E5E5;
	position: relative;
}

.payline:before,
.payline:after {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: rgb(244, 158, 54);
	top: -10px;
}

.payline:before {
	left: -12px;
}

.payline:after {
	right: -12px;
}

.balanceCon {
	justify-content: space-between;
	padding: 10px 14px;
}

.balanceConL p {
	font-size: 12px;
	color: #666;
	line-height: 17px;
	justify-content: flex-start;
	margin-bottom: 1px;
}

.balanceConL p i {
	color: rgb(249, 192, 48);
	margin-right: 5px;
}

.balanceConL h5 {
	font-size: 14px;
	padding-left: 20px;
	line-height: 20px;
}

.recBtn {
	width: 74px;
	height: 33px;
	border-radius: 6px;
	background: #FEA600;
	text-align: center;
	line-height: 33px;
	color: #fff;
}


/* 会员充值 */
.recBody {
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-image: url(../images/rec_bg.png);
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding-top: 0.1px;
}

.rectit {
	margin-top: 14px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

.recbalan {
	text-align: center;
	color: #fff;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 10px;
}

.recFun {
	margin-bottom: 12px;
}

.recFun li {
	border-radius: 30px;
	border: 1px solid #fff;
	color: #fff;
	width: 110px;
	height: 32px;
	line-height: 32px;
	margin: 0 8px;
}

.recFun li i {
	margin-right: 5px;
}

.saleCon {
	width: calc(100% - 30px);
	min-height: 100px;
	padding: 0 10px 24px;
	padding-top: 14px;
	margin: 0 auto;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0px 2px 4px 0px rgba(206, 206, 206, 0.5);
}

.saleshname {
	justify-content: flex-start;
}

.saleshname span {
	color: #666;
	line-height: 1;
	font-size: 14px;
}

.saleshname i {
	font-size: 20px;
	color: #FEA600;
	margin-right: 5px;
}

.saleInput {
	border-bottom: 1px solid #E5E5E5;
	height: 50px;
	margin-bottom: 17px;
}

.saleInput label {
	font-size: 14px;
	width: 30px;
	height: 100%;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
}

.saleInput input {
	font-size: 14px;
	width: calc(100% - 30px);
	height: 100%;
	font-size: 24px;
	line-height: 50px;
}

.saleInput input::-webkit-input-placeholder {
	color: #CDCDCD;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.saleInput input:-moz-placeholder {
	color: #CDCDCD;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.saleInput input::moz-placeholder {
	color: #CDCDCD;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.saleInput input:-ms-input-placeholder {
	color: #CDCDCD;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.saleli {
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 12px;
}

.saleli li {
	width: 30%;
	height: 60px;
	margin-right: 5%;
	border-radius: 4px;
	border: 1px solid #C6C6C6;
	margin-bottom: 10px;
}

.saleli li:nth-child(3n) {
	margin-right: 0;
}

.saleli li.active {
	border-color: #FEA600;
}

.saleli li p {
	width: calc(100% - 30px);
	height: 100%;
	text-align: center;
}

.saleli li span {
	width: 30px;
	height: 100%;
	background: #FEA600;
	color: #fff;
	text-align: center;
	font-size: 12px;
	flex-direction: column;
}

.recBtn1 {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 6px;
	box-shadow: 0px 2px 4px 0px rgba(194, 194, 194, 0.5);
	background: -webkit-linear-gradient(90deg, #FEC63F, #FF9534);
	background: -o-linear-gradient(90deg, #FEC63F, #FF9534);
	background: -moz-linear-gradient(90deg, #FEC63F, #FF9534);
	background: linear-gradient(90deg, #FEC63F, #FF9534);
}


/* 消费充值记录 */
.vipBill {
	height: 100%;
	overflow: hidden;
}

.vipBillul {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

#vipBillulB {
	overflow: hidden;
}

.vipBilli {
	transition: 0.35s all;
}

.vipBilli[data-type="0"] {
	transition: 0.35s all;
	transform: translate3d(0, 0, 0);
}

.vipRec .vipBilli[data-type="1"] {
	transform: translate3d(-80px, 0, 0);
}

.vipAll .vipBilli[data-type="1"] {
	transform: translate3d(-160px, 0, 0);
}

/* 充值记录 */
.vipRec {
	background-image: none;
}

.vipRec .vipBilli {
	font-size: 12px;
	position: relative;
	background: #fff;
	height: 74px;
}

.vipBilli .vipBilliBody {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #eee;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.vipRec .vipBillitit {
	color: #666;
}

.vipRec .vipBilliname {
	color: #333;
}

.vipRec .vipBillitime {
	color: #999;
}

.operation {
	position: absolute;
	top: 0;
	height: 100%;
	background: #F85B4F;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.operation li {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 66px;
	font-size: 16px;
}

.operation li.jifenItem {
	background: #CDCDCD;
}

.operation li.yueItem {
	background: #F85B4F;
}

.vipRec .operation {
	right: -80px;
	width: 80px;
}

.vipAll .operation {
	right: -160px;
	width: 160px;
}





/* 会员充值统计 */
.statisRec {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.statisRec .billTit {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: #fff;
}

.statisRec .billTit div {
	width: 100%;
	text-align: center;
	line-height: 30px;
	border-bottom: 1px solid #EDEDED;
	font-size: 14px;
	color: #666;
}

.statisRec .billTitli {
	width: 25%;
	line-height: 49px;
	text-align: center;
	border-bottom: 1px solid #EDEDED;
	font-weight: 400;
	font-size: 16px;
}

.statisRec .billTitli.billTitC {
	color: #2C97B1;
	border-color: #2C97B1;
}

.statisRec .billist {
	height: calc(100% - 50px);
	overflow: scroll;
	background: #EDEDED;
}

.statisRec .billistul {
	padding-left: 20px;
	background: #fff;
}

.statisRec .billistli {
	height: 78px;
	width: 100%;
	background: #fff;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #EDEDED;
}

.statisRec .billistliL {
	text-align: left;
	color: #666;
	font-size: 14px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.statisRec .billistliL .billavatar {
	width: 50px;
	height: 50px;
	border-radius: 6px;
	overflow: hidden;
	margin-right: 10px;
}

.statisRec .billistliL .billavatar img {
	width: 100%;
	height: 100%;
}

.statisRec .billistliL .billistliLC {
	font-size: 14px;
	color: #333;
	font-weight: 400;
}

.statisRec .billistliL .billistliLC span {
	color: #999;
	margin-top: 4px;
	display: block;
}

.statisRec .billistliR {
	text-align: right;
	color: #666;
	font-size: 14px;
	color: #2C97B1;
}

.statisCon .billistliR {
	color: #666;
}

.statisRec .billistliR span {
	color: #999;
	margin-top: 4px;
	display: block;
}

.statisRec .branches {
	width: 100%;
	height: 42px;
	text-align: center;
	line-height: 42px;
	font-size: 12px;
	color: #333;
	background: #fff;
}

.statisRec .branches span {
	color: #2C97B1;
}

.modal-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.modal-dialog {
	position: absolute;
	left: 0;
	bottom: -100%;
	width: 100%;
	height: auto;
	z-index: 100001;
	transition: 0.3s all;
}

.modal-dialog.maskshow {
	bottom: 0;
}

.datepicker-here {
	background: #fff;
}


/* 消费详情 */
.payConD {
	width: 100%;
	height: 100%;
	padding-top: 0.1px;
}

.payConD h5 {
	margin-top: 24px;
	margin-bottom: 14px;
}

.payConD h5 span {
	color: #333;
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
}

.payConD h5 img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}

.payConD h3 {
	height: auto;
	background: none;
	font-weight: 600;
	line-height: 37px;
	margin-bottom: 8px;
	font-size: 28px;
}

.payConD>p {
	text-align: center;
	color: #999;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 22px;
}

.payDetails {
	width: 100%;
	padding: 0 15px;
	padding-right: 10px;
}

.payDetails li {
	width: 100%;
	justify-content: space-between;
	margin-bottom: 14px;
}

.payDetails span,
.payDetails p {
	line-height: 20px;
	font-size: 14px;
}

.payDetails span {
	color: #999;
}

.payDetails p {
	color: #333;
	margin-right: 3px;
	margin-left: auto;
}

.payDetails i {
	color: #E5E5E5;
}

.line1 {
	width: calc(100% + 30px);
	height: 1px;
	background: #F0F0F0;
	margin-bottom: 14px;
	margin-left: -15px;
	margin-right: -15px;
}

.line10 {
	width: 100%;
	height: 10px;
	background: #F5F5F5;
	margin-bottom: 14px;
}

.payDetails.note p {
	margin-right: initial;
	margin-left: initial;
}

.payDetails.note span {
	margin-right: 6px;
	margin-left: auto;
}



/* 优惠券次月卡 */
.tmTab {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: none;
	position: relative;
}

.tmTab .mask {
	width: 100%;
	height: 100%;
	z-index: 25;
}

.tmTabtit {
	width: 100%;
	height: 44px;
	line-height: 44px;
	box-shadow: 0px 2px 2px 0px rgba(232, 232, 232, 0.5);
	position: relative;
	z-index: 20;
}

.tmTabtit li {
	margin: 0 45px;
	position: relative;
}

.tmTabtit li.active {
	color: #FEA600;
}

.tmTabtit li.active:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #FEA600;
	left: 0;
	bottom: 0;
}

.conFun {
	width: 100%;
	height: 50px;
	border-top: 1px solid #C6C6C6;
	background: #fff;
	position: relative;
	z-index: 30;
}

.conFun li {
	width: 50%;
	text-align: center;
}

.conFun li i {
	color: #CDCDCD;
	margin-left: 4px;
}

.tmTablist {
	width: 100%;
	height: calc(100% - 94px);
}

.tmTabli {
	width: 100%;
	height: 100%;
	padding: 15px;
	overflow: scroll;
}

.conFunMask {
	width: 50%;
	height: auto;
	padding: 25px 20px;
	background: #fff;
	position: absolute;
	z-index: 26;
	bottom: 50px;
}

.conFunMask li {
	width: 100%;
	border: 1px solid #F0F0F0;
	height: 32px;
	text-align: center;
	line-height: 32px;
	margin-bottom: 10px;
	border-radius: 20px;
}

.conFunMask li:last-child {
	margin-bottom: 0;
}

.conFunMask li.active {
	color: #FEA600;
	border-color: #FEA600;
}

.useMask {
	left: 0;
}

.conMask {
	right: 0;
}

.conList {
	border-radius: 6px;
	box-shadow: 0px 2px 4px 0px rgba(202, 202, 202, 0.5);
	overflow: hidden;
	margin-bottom: 14px;
}

.conListT.zk {
	background: -webkit-linear-gradient(90deg, #FEAA00, #FE8600);
	background: -o-linear-gradient(90deg, #FEAA00, #FE8600);
	background: -moz-linear-gradient(90deg, #FEAA00, #FE8600);
	background: linear-gradient(90deg, #FEAA00, #FE8600);
}

.conListT.dj {
	background: -webkit-linear-gradient(90deg, #FF8A6B, #FC4F47);
	background: -o-linear-gradient(90deg, #FF8A6B, #FC4F47);
	background: -moz-linear-gradient(90deg, #FF8A6B, #FC4F47);
	background: linear-gradient(90deg, #FF8A6B, #FC4F47);
}

.conListT.dh {
	background: -webkit-linear-gradient(90deg, #EAC6A6, #C49769);
	background: -o-linear-gradient(90deg, #EAC6A6, #C49769);
	background: -moz-linear-gradient(90deg, #EAC6A6, #C49769);
	background: linear-gradient(90deg, #EAC6A6, #C49769);
}

.conListT {
	width: 100%;
	height: 84px;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 20px;
	color: #fff;
}

.conListT:after {
	content: '';
	position: absolute;
	width: 70px;
	height: 70px;
	background-image: url(../images/quanImg.png);
	background-size: cover;
	top: 7px;
	right: 22px;
}

.conListTmodel {
	align-items: flex-end;
	margin-bottom: 4px;
}

.conListTmodel p {
	font-size: 18px;
	font-weight: 600;
}

.conListTmodel p span {
	font-size: 32px;
	font-weight: 600;
}

.conListTmodel a {
	width: auto;
	padding: 0 10px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 20px;
	line-height: 22px;
	font-size: 14px;
	margin-left: 6px;
	margin-bottom: 6px;
}

.conListTCon {
	font-size: 16px;
	line-height: 22px;
}

.conListD {
	width: 100%;
	height: 36px;
	background: #fff;
	justify-content: space-between;
	padding: 0 14px;
}

.conListD p {
	color: #CDCDCD;
	line-height: 1;
}

.conListD a {
	width: auto;
	padding: 0 12px;
	color: #FEA600;
	border: 1px solid #FEA600;
	border-radius: 20px;
	line-height: 22px;
	font-size: 14px;
}

.tmFun {
	width: 100%;
	height: 50px;
}

.tmFun li {
	width: 130px;
	height: 36px;
	border: 1px solid #FEA600;
	color: #666;
	text-align: center;
	line-height: 36px;
}

.tmFun li.active {
	background: #FEA600;
	color: #fff;
}

.tmFun li:nth-child(1) {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.tmFun li:nth-child(2) {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.tmList {
	width: 100%;
	height: 110px;
	padding: 12px 14px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	color: #fff;
	flex-direction: column;
	align-items: flex-start;
}

.tmList:after {
	content: '';
	position: absolute;
	top: -26px;
	right: -10px;
	width: 65px;
	height: 65px;
	opacity: 0.1;
	border: 8px solid rgba(255, 255, 255, 1);
	border-radius: 50%;
}

.tmList:nth-child(4n+1) {
	background: #122C81;
}

.tmList:nth-child(4n+2) {
	background: #4880D7;
}

.tmList:nth-child(4n+3) {
	background: #EA2E2E;
}

.tmList:nth-child(4n+4) {
	background: -webkit-linear-gradient(90deg, #79B872, #477942);
	background: -o-linear-gradient(90deg, #79B872, #477942);
	background: -moz-linear-gradient(90deg, #79B872, #477942);
	background: linear-gradient(90deg, #79B872, #477942);
}

.tmList h4 {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	margin-bottom: 8px;
}

.tmList h5 {
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	margin: 0;
	margin-bottom: 7px;
}

.tmList p {
	margin: 0;
	font-size: 14px;
	line-height: 20px;
}

.tmList p span {
	font-size: 24px;
	line-height: 20px;
}

.tmListBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 104px;
	height: 32px;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	background: #fff;
	text-align: center;
	line-height: 32px;
	box-shadow: 0px 2px 4px 0px rgba(6, 24, 82, 1);
	border-radius: 16px;
}


/* 使用次月卡 */
.useTm {
	background-image: none;
	padding: 12px 15px;
}

.useTm .tmListBtn i {
	font-size: 10px;
	display: block;
	transform: rotate(90deg) scale(0.7, 0.7);
	margin-right: -6px;
}

.syncBtn {
	width: 90%;
	height: 44px;
	margin: 14px auto 17px;
	border-radius: 30px;
	line-height: 44px;
	color: #fff;
	text-align: center;
	background: -webkit-linear-gradient(90deg, #FEAA00, #FE8600);
	background: -o-linear-gradient(90deg, #FEAA00, #FE8600);
	background: -moz-linear-gradient(90deg, #FEAA00, #FE8600);
	background: linear-gradient(90deg, #FEAA00, #FE8600);
}

.useTm .line1 {
	border-bottom: 1px dashed #E5E5E5;
	background: none;
	margin-bottom: 20px;
}

.codeCon {
	flex-direction: column;
}

.codeCon #cardConSysCode {
	width: 240px;
	height: 40px;
	margin-bottom: 12px;
}

.codeCon .mTit2 {
	margin-bottom: 12px;
}

.codeCon .ticketno {
	font-size: 14px;
	line-height: 20px;
	color: #999;
	margin-bottom: 16px;
}

.codeCon .codeConText {
	color: #999;
	line-height: 24px;
}



/* 推荐给朋友 */
.shareCon {
	overflow: scroll;
	background: -webkit-linear-gradient(#FC5144, #FC5044);
	background: -o-linear-gradient(#FC5144, #FC5044);
	background: -moz-linear-gradient(#FC5144, #FC5044);
	background: linear-gradient(#FC5144, #FC5044);
}

.share_bg,
.share_bg1 {
	display: block;
	width: 100%;
	height: auto;
}

.share_bg1 {
	margin-top: -20px;
}

.sharebody {
	background: #fff;
	width: calc(100% - 20px);
	min-height: 300px;
	margin: 0 auto;
	border-radius: 6px;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
}

.shareTit {
	width: auto;
	font-size: 18px;
	color: #FC5144;
	line-height: 25px;
	text-align: center;
	position: relative;
	margin-top: 16px;
	margin-bottom: 14px;
}

.shareTit:before,
.shareTit:after {
	position: absolute;
	content: '';
	width: 50px;
	height: 10px;
	background-position: center;
	background-size: 100%;
	top: calc(50% - 5px);
	z-index: 30;
}

.shareTit:before {
	left: -60px;
	background-image: url(../images/share_tit.png);
}

.shareTit:after {
	right: -60px;
	background-image: url(../images/share_tit.png);
	transform: rotate(180deg);
}

.wxCard {
	width: 318px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	border-radius: 6px;
	margin-bottom: 12px;
}

.wxCardImg {
	width: 100%;
	height: auto;
	display: block;
}

.cardTit {
	position: absolute;
	top: 10px;
	left: 20px;
}

.cardTit img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.cardTit h3 {
	font-size: 14px;
	color: #fff;
	margin-left: 10px;
}

.cardTit h3 span {
	display: block;
	font-size: 14px;
	color: #fff;
	opacity: 0.8;
}

.shareFun {
	width: 100%;
	padding: 0 20px;
	justify-content: space-between;
	margin-bottom: 11px;
}

.shareFun li {
	width: 33.3%;
	flex-direction: column;
}

.shareFun li i {
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	line-height: 36px;
	color: #fff;
	font-size: 22px;
	box-shadow: 0px 2px 4px 0px rgba(140, 140, 140, 0.5);
}

.shareFun li:nth-child(1) i {
	background: -webkit-linear-gradient(90deg, #FEC63F, #FF9534);
	background: -o-linear-gradient(90deg, #FEC63F, #FF9534);
	background: -moz-linear-gradient(90deg, #FEC63F, #FF9534);
	background: linear-gradient(90deg, #FEC63F, #FF9534);
}

.shareFun li:nth-child(2) i {
	background: -webkit-linear-gradient(90deg, #7290FE, #5A73F2);
	background: -o-linear-gradient(90deg, #7290FE, #5A73F2);
	background: -moz-linear-gradient(90deg, #7290FE, #5A73F2);
	background: linear-gradient(90deg, #7290FE, #5A73F2);
}

.shareFun li:nth-child(3) i {
	background: -webkit-linear-gradient(90deg, #FB7653, #FC4F47);
	background: -o-linear-gradient(90deg, #FB7653, #FC4F47);
	background: -moz-linear-gradient(90deg, #FB7653, #FC4F47);
	background: linear-gradient(90deg, #FB7653, #FC4F47);
}

.shareFunCon {
	width: 100%;
	height: auto;
	background: #F5F5F5;
	padding-top: 10px;
	margin-bottom: 8px;
}

.shareFunConTit {
	font-size: 16px;
	line-break: 22px;
	margin-bottom: 12px;
}

.shareFunConTit span {
	color: #FC5548;
}

.shareFunCon1 {
	flex-direction: column;
}

.shareFunCon1 #shareFunCon1Img {
	width: 160px;
	height: 160px;
	padding: 10px;
	background: #fff;
	margin-bottom: 14px;
}

.shareFunCon2 {
	flex-direction: column;
}

.invitelist {
	width: 100%;
	margin-bottom: 14px;
}

.invitelist li {
	justify-content: flex-start;
	width: calc(100% - 10px);
	height: 65px;
	border-bottom: 1px solid #E5E5E5;
	margin-left: 10px;
}

.invitelist li img {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}

.inviteCon {
	flex-direction: column;
	align-items: flex-start;
}

.inviteCon h3 {
	font-size: 14px;
	color: #333;
	line-height: 20px;
	margin-bottom: 2px;
}

.inviteCon h3 span {
	width: auto;
	text-align: center;
	line-height: 1;
	background: #FC5548;
	color: #fff;
	border-radius: 19px;
	font-size: 12px;
	margin-left: 2px;
	padding: 2px 10px;
}

.inviteCon p {
	font-size: 12px;
	color: #999;
	line-height: 17px;
}

.shareFunCon3 {
	flex-direction: column;
}

.cplist {
	width: calc(100% - 40px);
	margin: 0 auto;
}

.cplist li {
	justify-content: space-between;
	height: 54px;
	margin-bottom: 10px;
}

.cplist li>p {
	width: 60px;
	height: 100%;
	background: #fff;
	white-space: pre-wrap;
	line-height: 20px;
	color: #FC5548;
	text-align: center;
	padding: 0 10px;
}

.cplist li .cpCon {
	width: calc(100% - 60px);
	height: 100%;
	justify-content: flex-start;
	color: #fff;
	padding-left: 11px;
	background: -webkit-linear-gradient(90deg, #FB7653, #FC4F47);
	background: -o-linear-gradient(90deg, #FB7653, #FC4F47);
	background: -moz-linear-gradient(90deg, #FB7653, #FC4F47);
	background: linear-gradient(90deg, #FB7653, #FC4F47);
}

.cplist li .cpCon .cpConL {
	font-size: 16px;
	line-height: 28px;
	margin-right: 8px;
	
}

.cplist li .cpCon .cpConL span {
	display: inline-block;
	min-width: 60px;
	text-align: center;
	font-size: 32px;
	line-height: 28px;
}

.cplist li .cpCon p {
	font-size: 14px;
	line-height: 20px;
	flex-direction: column;
	align-items: flex-start;
}

.cplist li .cpCon p span {
	display: block;
	font-size: 12px;
	line-height: 17px;
}





.shareBtn {
	width: 90%;
	height: 48px;
	margin: 0 auto;
	border-radius: 48px;
	text-align: center;
	line-height: 48px;
	color: #9E4A0D;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 17px;
	box-shadow: 0 3px 0 0 #FC6E1D;
	background: -webkit-linear-gradient(#FEF58F, #FEC53F);
	background: -o-linear-gradient(#FEF58F, #FEC53F);
	background: -moz-linear-gradient(#FEF58F, #FEC53F);
	background: linear-gradient(#FEF58F, #FEC53F);
}

.sharebody .payline {
	margin-bottom: 17px;
	border-color: #FC5144;
}

.sharebody .payline:before,
.sharebody .payline:after {
	background: #FC5144;
}

.sharerule {
	width: 100%;
	flex-direction: column;
}

.shareruleTit {
	color: #9E4A0D;
	position: relative;
	line-height: 20px;
	margin-bottom: 14px;
}

.shareruleTit:before,
.shareruleTit:after {
	position: absolute;
	content: '//';
	top: 0;
}

.shareruleTit:before {
	left: -25px;
}

.shareruleTit:after {
	right: -25px;
}

.shareruleCon {
	width: 100%;
	padding: 0 15px;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 16px;
}

.shareruleCon li {
	justify-content: space-between;
	align-items: flex-start;
}

.shareruleCon span {
	width: 60px;
	color: #666;
}

.shareruleCon p {
	width: calc(100% - 70px);
	color: #333;
	margin-bottom: 10px;
}
