<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>会员卡详情</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="./css/reset.css" media="all" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1192462_mdqp29rjfwp.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/style.css" media="all">
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="cardAdd" id="cardAdd">
			<div class="vipBlock Topupj">
				<div class="cardListuli ">
					<div class="cardListuliPos cardListuliLT">
						<span class="cardName">{{cardDetails.cardName}}</span>
					</div>
					<img :src="cardDetails.localImgUrl">
				</div>
				<div class="TopupjTit">
					<p class="vipBlockBtit">充值优惠</p>
					<div class="TopupUliR" @click='addList'>
						<i class="icon iconfont iconjia1"></i>
						添加
					</div>
				</div>
				<ul class="TopupUl">
					<li class="TopupUli" v-for='(item,i) in preferentialRecharges'>
						<div class="TopupUliL">
							充值满
							<input type="number" class="Topupamount" v-model="item.rechargeMoney" @focus="inputfocus(event)" @blur="inputblur(event)" />
							元，优惠
							<input type="number" class="Giveamount" v-model="item.preferentialMoney" @focus="inputfocus(event)" @blur="inputblur(event)" />
							元
						</div>
						<div class="TopupUliR" @click="removelist(i)">
							<i class="icon iconfont iconjian1"></i>
							删除
						</div>
					</li>
				</ul>
			</div>
			<div class="vipBlock giving">
				<p class="vipBlockBtit">激活卡赠送</p>
				<div class="Activateamount">
					激活赠送金额:
					<input type="number" id="" value="20" placeholder="请输入金额" @focus="inputfocus(event)" @blur="inputblur(event)" v-model="cardDetails.giveMoney" />
					元
				</div>
				<div class="selectdefault">
					<div class="checkB">
						<input type="checkbox" name="" id="statementBtn" value="" v-on:click="Checkstate(defaultFlag)" v-model="defaultFlag"  />
						<label for="statementBtn"></label>
					</div>
					<div>将该会员卡设为默认会员类型</div>
				</div>
				<p class="vipBlockBTips">*激活赠送金额自动存入余额，可直接使用</p>
				<p class="vipBlockBTips">*设置合理的赠送金额，能帮助您以会员卡方式快速回笼资金<br />&nbsp;&nbsp;还可调动顾客的消费积极性，建议首次激活卡合理赠送金额</p>
			</div>
			<div class="viprecordsave" @click="viprecordsave">
				<span class="viprecordsavebtn">保 存</span>
			</div>
		</div>
	</body>
	<script src="./js/jquery.min.js"></script>
	<script src="./common/config.js"></script>
	<script src="./common/utility.js"></script>
	<script src="./js/vue.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			new Vue({
				el: '#cardAdd',
				data: {
					cardNo: '',
					cardDetails: {},
					preferentialRecharges: [],
					defaultFlag: false,
				},
				methods: {
					// 获取会员卡详情
					getCardDetails: function() {
						var that = this,
							sendData = new Object()
						sendData.cardNo = that.cardNo
						CmsUtility.postAjaxCall(
							//系统设置
							CmsConfig.addressUrl.Card.getCardDetails,
							sendData,
							function(data) {
								if (data.code === 1000) {
									console.log(data.data)
									that.cardDetails = data.data
									that.preferentialRecharges = data.data.preferentialRecharges
									that.defaultFlag = data.data.defaultFlag
									if(data.data.defaultFlag == 1){
										that.defaultFlag = true
									}else{
										that.defaultFlag = false
									}
									console.log(that.cardDetails)
									console.log(that.preferentialRecharges)
									console.log(that.defaultFlag)
								} else {
									alert(data.msg)
								}
							},
							function(data) {
								console.log('222')
							},
							'get',
							'false'
						)
					},
					//输入框获取焦点
					inputfocus: function(event) {
						// console.log(event.target.name)
						$(".viprecordsave").hide();
					},
					//输入框失去焦点
					inputblur: function(event) {
						$(".viprecordsave").show();
						if (event.target.name == 'onsale') {}
						// $(this).val()
					},
					//添加优惠条件
					addList: function() {
						this.preferentialRecharges.push({
							Topupamount: "",
							Giveamount: ""
						})
						// console.log(this.preferentialRecharges)
					},
					//删除选中行
					removelist: function(n) {
						if (this.preferentialRecharges.length == 1) {
							return alert("充值优惠至少一条！")
						}
						this.preferentialRecharges.splice(n, 1);
					},
					Checkstate: function(defaultFlagS) {
						if(defaultFlagS){
							this.defaultFlag = '0'
						}else{
							this.defaultFlag = '1'
						}
						console.log(this.defaultFlag)
					},
					//提交信息
					viprecordsave: function() {}
				},
				watch: {

				},
				created: function() {
					var that = this
					this.cardNo = window.location.href.split('?cardNo=')[1]
				},
				mounted() {
					this.getCardDetails()
				}
			})
		})
	</script>
</html>
