<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>优惠券</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="./fonts/iconfont.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/reset.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/style-rec.css" />
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
			<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
			<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			.show {
				display: block;
			}

			.hide {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="coupons" id="coupons">
			<!-- <div id="loadstart" class="loadzz">
				<div class="loading_k">
					<div class="loading"></div>
				</div>
			</div> -->
			<ul class="couponsList" id="couponsList">
				<li class="couponsLi" v-for="item in couponsLi">
					<div class="couponsLei daijin">
						<div class="couponsLeiC">
							<div class="couponsJine">¥ <span>{{item.couponsJine}}</span></div>
							<div class="couponsLeixing">满{{item.couponsLeixing}}元使用</div>
						</div>
						<div class="cro_right_top cro"></div>
						<div class="cro_right_bottom cro"></div>
					</div>
					<div class="couponsCon">
						<div class="couponsConC">
							<div class="couponsConCBiaoshi">{{item.couponsConCBiaoshi == 1 ? '代金券':'折扣券'}}</div>
							<div class="couponsConCTime"><span>{{item.couponsConCTimeStart}}</span>/<span>{{item.couponsConCTimeEnd}}</span></div>
							<div class="couponsConCXianzhi">使用规则:单笔满<span>{{item.couponsLeixing}}</span>元可用</div>
						</div>
						<div class="couponsConyxq">
							{{item.couponsConyxq == 0 ? '新领取':'即将过期'}}
						</div>
						<div class="cro_left_top cro"></div>
						<div class="cro_left_bottom cro"></div>
					</div>
				</li>
				<!-- <li v-for="item in items" class="couponsLi">
					<div class="couponsLei" :class="[item.class]">
						<div class="couponsLeiC" :class="[item.class3]">
							<div class="couponsLeixing" id="couponsLeixing">{{item.cardVoucherName}}</div>
							<div class="couponsJine">¥ <span id="couponsJine">{{item.couponMoney}}</span></div>
						</div>
						<div class="couponsLeiC" :class="[item.class4]">
							<div class="couponsLeixing" id="couponsLeixing">{{item.cardVoucherName}}</div>
							<div class="couponsJine"><span id="couponsJine">{{item.disCount}}</span> 折</div>
						</div>
					</div>
					<div class="couponsCon">
						<div class="couponsConC">
							<div class="couponsConCTit">使用规则:</div>
							<div class="couponsConCXianzhi">单笔满<span>{{item.useMoney}}</span>元可用</div>
							<div class="couponsConCTime" :class="[item.class1]">有效期 : <span>{{item.startTime}}</span>至<span>{{item.endTime}}</span></div>
							<div class="couponsConCTime" :class="[item.class2]">有效期 : 长期</div>
						</div>
					</div>
				</li> -->
			</ul>
		</div>
	</body>

	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="./common/config.js"></script>
	<script src="./common/utility.js"></script>
	<script src="./js/vue.min.js"></script>
	<script>
		$(document).ready(function() {

		})
		new Vue({
			el: '#coupons',
			data: {
				couponsLi: [{
					couponsJine: "50",
					couponsLeixing: "199",
					couponsConCBiaoshi: 0, //代金券
					couponsConCTimeStart: "2019-03-14",
					couponsConCTimeEnd: "2019-05-14",
					couponsConyxq: 0
				}, {
					couponsJine: "100",
					couponsLeixing: "299",
					couponsConCBiaoshi: 0, //代金券
					couponsConCTimeStart: "2019-02-24",
					couponsConCTimeEnd: "2019-06-24",
					couponsConyxq: 1
				}, {
					couponsJine: "30",
					couponsLeixing: "99",
					couponsConCBiaoshi: 0, //代金券
					couponsConCTimeStart: "2018-07-14",
					couponsConCTimeEnd: "2019-07-14",
					couponsConyxq: 1
				}, {
					couponsJine: "50",
					couponsLeixing: "199",
					couponsConCBiaoshi: 0, //代金券
					couponsConCTimeStart: "2019-03-14",
					couponsConCTimeEnd: "2019-05-14",
					couponsConyxq: 0
				}, {
					couponsJine: "100",
					couponsLeixing: "299",
					couponsConCBiaoshi: 0, //代金券
					couponsConCTimeStart: "2019-02-24",
					couponsConCTimeEnd: "2019-06-24",
					couponsConyxq: 1
				}, {
					couponsJine: "30",
					couponsLeixing: "99",
					couponsConCBiaoshi: 0, //代金券
					couponsConCTimeStart: "2018-07-14",
					couponsConCTimeEnd: "2019-07-14",
					couponsConyxq: 1
				}]
			},
			methods: {
				jump: function(data) {
					window.location.href = data
				}
			}
		})
	</script>

</html>
