<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>数据统计</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="./css/reset.css" media="all" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1192462_7l9i0tqhybc.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/style.css" media="all">
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="vipCenter data-statis" id="Vip">
			<div class="vipBlock vipTool">
				<ul class="vipToolul vipToolul1">
					<li class="vipTooli" v-cloak v-for="item in vipToolul1">
						<span class="icon iconfont toolimg">{{item.toolcl}}</span>
						<p class="toolitit">{{item.toolitit}}</p>
					</li>
				</ul>
				<ul class="vipToolul">
					<li class="vipTooli" v-cloak v-for="item in vipToolul2" v-on:click="jump(item.address)">
						<span class="icon iconfont toolimg" :class="item.toolcl"></span>
						<p class="toolitit">{{item.toolitit}}</p>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="./js/jquery.min.js"></script>
	<script src="./common/config.js"></script>
	<script src="./common/utility.js"></script>
	<script src="./lib/layer/layer.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/qrcode.min.js"></script>
	<script>
		$(document).ready(function() {
			new Vue({
				el: '#Vip',
				data: {
					vipToolul1: [{
						toolcl: '',
						toolitit: "今日新增会员",
					}, {
						toolcl: '',
						toolitit: "会员总数",
					}, {
						toolcl: '',
						toolitit: "已建会员卡类型",
					}],
					vipToolul2: [{
						toolcl: "iconiconfontyue2eps",
						toolitit: "会员余额统计",
						address: "vip-statis-balance.html"
					}, {
						toolcl: "iconchongzhi",
						toolitit: "会员充值统计",
						address: "vip-statis-rec.html"
					}, {
						toolcl: "iconxiaofei2",
						toolitit: "会员消费统计",
						address: "vip-statis-con.html"
					}],
				},
				methods: {
					// 查询会员汇总
					getMemSummary: function() {
						var that = this,
							sendData = new Object()
						sendData.institutionNumber = JSON.parse(sessionStorage.getItem('userInfo')).insNumber
						sendData.merchantNumber = JSON.parse(sessionStorage.getItem('userInfo')).merNumber
						CmsUtility.postAjaxCall(
							//系统设置
							CmsConfig.addressUrl.Member.getMemSummary,
							sendData,
							function(data) {
								if (data.code === 1000) {
									that.vipToolul1[0].toolcl = data.data.memberTodCount
									that.vipToolul1[1].toolcl = data.data.memberCount
									that.vipToolul1[2].toolcl = data.data.cardCount
									console.log(data.data)
								} else {
									alert(data.msg)
								}
							},
							function(data) {
								console.log('222')
							},
							'get',
							'false'
						)
					},
					jump: function(data) {
						window.location.href = data
					}
				},
				created() {
					
				},
				mounted() {
					this.getMemSummary()
				}
			})
		})
	</script>

</html>
