body {
    width: 1920px;
}
*{
    transition: 0.3s linear;
}
/* title */
.title {
    width: 100%;
    height: 40px;
    background: #333333;
}

.title-text {
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    height: 40px;
    font-size: 12px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    color: #ffffff;
    line-height: 40px;
}

/* head部分 */
.header {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    position: relative;

}

.logo {
    width: 108px;
    height: 44px;
    margin-top: 18px;
}

.jiameng {
    width: 108px;
    height: 35px;
    background: linear-gradient(90deg, #fe7902, #ff4201);
    border-radius: 4px;
    box-shadow: 4px 4px 10px 0px rgba(255, 66, 1, 0.50);


    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    line-height: 35px;
    margin-top: 22px;
    cursor: pointer;
    position: relative;
}
.jiameng a{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
/* 导航 */
.nav {
    width: auto;
    height: 80px;
    display: flex;
    position: relative;
    padding-right: 50px;

}

.nav-item {
    width: auto;
    height: 80px;
    padding: 0 25px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #333333;
    line-height: 80px;
    cursor: pointer;
    position: relative;
    cursor: pointer;
}
.nav-item a{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.nav-item:hover {
    color: #FF4401;
}

.nav-item-tag1 {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 7px;
    top: 16px;
}

.nav-item-tag2 {
    width: 19px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 24px;
}

.nav-item-tag3 {
    width: 10px;
    height: 6px;
    position: absolute;
    right: 14px;
    top: 37px;

}

/* 行业解决方案 */
.hangye {
    width: 293px;
    height: auto;
    position: absolute;
    bottom: -258px;
    right: 0;
    background-color: #fff;
    padding: 34px 50px 40px 37px;
    background-color: #fff;

    z-index: 9999;

}

.hangye-item {
    width: 146px;
    height: 46px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    text-indent: 45px;
    color: #333333;
    line-height: 46px;
    float: left;
    cursor: pointer;
    position: relative;
}
.hangye-item a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.hangye-item:hover{
    text-decoration: underline
}

/* 关于我们 */
.about {
    width: 900px;
    height: 210px;
    padding: 30px 0 60px;
    position: absolute;
    right: 0;
    bottom: -300px;
    display: flex;
    background-color: #fff;

    z-index: 9999;
}

.about-left {
    width: 230px;
    height: 210px;
    border-right: 1px solid #efefef;

}

.about-left-title {
    width: 100%;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-indent: 70px;
    color: #999999;
    line-height: 17px;
    margin-bottom: 13px;
}

.about-left-text {
    width: 100%;
    height: 36px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-indent: 70px;
    color: #333333;
    line-height: 36px;
    cursor: pointer;
    position: relative;
}

.about-left-text1 {
    width: 100%;
    height: 36px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-indent: 20px;
    color: #333333;
    line-height: 36px;

    cursor: pointer;

    position: relative;
}
.about a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.about-left-text:hover,.about-left-text1:hover{
    text-decoration: underline
}
/* 产品中心 */
.product {
    width: 1200px;
    height: 210px;
    padding: 30px 0 60px;
    position: absolute;
    left: 0;
    bottom: -300px;
    display: flex;
    background-color: #fff;
    z-index: 9999;
}

.pro-left {
    width: 230px;
    height: 210px;
    border-right: 1px solid #efefef;
    margin-right: 70px;
}

.pro-left-title {
    width: 100%;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-indent: 70px;
    color: #999999;
    line-height: 17px;
    margin-bottom: 18px;
}

.pro-left-text {
    width: 100%;
    height: 36px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-indent: 70px;
    color: #333333;
    line-height: 36px;
    cursor: pointer;
    position: relative;
}
.pro-left-text a{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.pro-mid {
    width: 182px;
    height: auto;
    border-right: 1px solid #efefef;
}

.pro-mid-title {
    width: 100%;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    color: #999999;
    line-height: 17px;
    margin-bottom: 18px;
}

.pro-mid-text {
    width: 100%;
    height: 36px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    color: #333333;
    line-height: 36px;

    cursor: pointer;

    position: relative;
}
.pro-mid-text a{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.pro-left-text:hover,.pro-mid-text:hover{
    text-decoration: underline
}
/* banner */
.banner {
    width: 100%;
    max-width: 1920px;
    height: 660px;
    margin: 0 auto;
    position: relative
}
.banner-href {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.banner img {
    width: 100%;
    height: 100%;
}
.banner-btn{
    width: 1200px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: 550px;
    transform: translateX(-50%);
    z-index: 600;
    display: flex;
    justify-content: center
}
.banner-btn-item{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #fff;
    margin-right: 18px;
}
.banner-btn-item-act{
    width: 30px;
height: 12px;
opacity: 1;
background: #ffffff;
border-radius: 6px;
}
/* 数据框 */
.shuju {
    width: 1200px;
    height: 210px;
    margin: 0 auto;
    margin-top: -80px;
    background-color: #fff;
    position: relative;
    z-index: 500;
    overflow: hidden;
    display: flex;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .1);
}
.shuju-item{
    width: 300px;

}
.shuju-item1{
    width: 225px;
}
.shuju-item-icon{
    width: 44px;
    height: 42px;
    margin: 0 auto;
    margin-top: 37px;
    display:block;
}
.shuju-number{
    width: 100%;
height: 69px;
font-size: 20px;
font-family: PingFangSC, PingFangSC-Regular;
font-weight: 400;
text-align: center;
color: #ff4201;
line-height: 69px;
margin-top: 18px;
display: flex;
justify-content: center
}
.shuju-name{
    width: 100%;
height: 25px;
font-size: 18px;
font-family: PingFangSC, PingFangSC-Regular;
font-weight: 400;
text-align: center;
color: #333333;
line-height: 25px;
margin-top: 6px;
}
.shuju-number-no{
    font-size: 30px;
    line-height: 64px;
    margin-right: 10px;
}




/* 公司介绍 */
.com {

    width: 100%;
    max-width: 1920px;
    height: 820px;
    margin: 0 auto;
    background-image: url('../img/bg1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*  border: 1px solid black; */
}

.com-box {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.com-title {
    width: 100%;
    height: 50px;
    font-size: 36px;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #333333;
    line-height: 50px;
    margin-top: 68px;
    margin-bottom: 10px;
}

.com-line {
    width: 66px;
    height: 4px;
    opacity: 0.5;
    background: #fe490a;
    border-radius: 3px;
    margin: 0 auto;
}

.com-text {
    width: 1120px;
    padding: 0 40px;
    height: 90px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
    line-height: 30px;
    text-indent: 30px;
    margin-top: 20px;
    margin-bottom: 14px;
}

.com-tent {
    width: 100%;
    height: auto;
    display: flex;
}

.com-tent-left {
    width: 500px;
    height: 508px;
    margin-right: 69px;
}

.com-tent-right {
    width: 630px;
    height: auto;
    padding-top: 40px;
}

.com-tent-right-item {
    width: 100%;
    height: 130px;
    display: flex;
    cursor: pointer;
}

.com-tent-right-item1 {

    background: #f5f5f5;
}

.com-tent-right-item-img {
    width: 56px;
    height: 56px;
    vertical-align: top;
    margin-left: 24px;
    margin-top: 27px;
}

.com-tent-right-item-info {
    width: 507px;
    height: auto;
    margin-left: 20px;
    margin-top: 27px;
}

.com-tent-right-item-info-title {
    width: 100%;
    height: 25px;
    font-size: 18px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    color: #333333;
    line-height: 25px;
}

.com-tent-right-item-info-text {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #333333;
    line-height: 20px;
    margin-top: 10px;
}

.con-tent-jiantou {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 260px;
    margin-top: 20px;
    cursor: pointer;
}

/* 垂直行业解决方案 */
.solve {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 800px;
    background: url('../img/bg-hangye1.png') 100% 100% no-repeat;
}

.solve-box {
    width: 1200px;
    margin: 0 auto;
    height: 800px;
}

.solve-title {
    width: 100%;
    height: 50px;
    font-size: 36px;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.solve-line {
    width: 66px;
    height: 4px;
    opacity: 0.5;
    background: #ffffff;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.solve-text {
    width: 100%;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 22px;
    margin-bottom: 20px;
}

.solve-content {
    width: 1200px;
    height: 524px;
    background: #ffffff;
    border-radius: 36px;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
}

#solve-left {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -60px;
    top: 250px;
    cursor: pointer;
}

#solve-right {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -60px;
    top: 250px;
    transform: rotate(180deg);
    cursor: pointer;
}

.solve-nav {
    width: 100%;
    padding-top: 32px;
    margin-bottom: 30px;
    display: flex;
    margin-left: 60px;
}

.solve-nav-item {
    width: 133px;
    height: 20px;
    font-size: 16px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 20px;
    border-right: 1px solid #333333;
    cursor: pointer;
}

.solve-nav-item-act {

    font-size: 20px;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #fe490a;
}

.solve-nav-item:last-child {
    border: 0;
}

.solve-img {
    width: 1140px;
    height: 410px;
    margin-left: 30px;
}

/* 产品矩阵 */
.chapin {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 770px;
    background: url('../img/bg-chanpin1.png') 100% 100% no-repeat;
}

.chanpin-box {
    width: 1200px;
    margin: 0 auto;
    height: 800px;
    position: relative;
    left: 0;
    right: 0;
}

#chanpin-left {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -60px;
    top: 365px;
    cursor: pointer;
}

#chanpin-right {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -60px;
    top: 365px;
    transform: rotate(180deg);
    cursor: pointer;
}

.chanpin-title {
    width: 100%;
    height: 50px;
    font-size: 36px;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.chanpin-line {
    width: 66px;
    height: 4px;
    background: #fe490a;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.chanpin-text {
    width: 100%;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    color: #ffffff;
    line-height: 22px;
    text-align: center;
    margin-bottom: 42px;
}

.chanpin-nav {
    width: 1200px;
    height: 55px;
    overflow: hidden;
}

.chanpin-nav-list {
    width: 2000px;
    transition: 1s ease;
}

.chanpin-nav-item {
    width: 200px;
    height: 52px;
    font-size: 16px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 22px;
    border-bottom: 3px solid #FFFFFF;
    float: left;
    cursor: pointer;
}

.chanpin-nav-item-act {

    font-size: 18px;
    line-height: 25px;
    border-bottom: 3px solid #FE490A;
}

.chanpin-content {
    width: 730px;
    height: 224px;
    margin-left: 80px;
}

.chanpin-tBox {
    width: 100%;
    height: 224px;
    border-bottom: 1px dotted #fff;
}

.chanpin-tBox-title {
    width: 100%;
    height: 30px;
    padding-top: 56px;
    margin-bottom: 20px;
}

.chanpin-tBox-name {
    width: 166px;
    height: 30px;
    font-size: 22px;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    line-height: 30px;
    float: left;
}

.chanpin-tBox-info {
    width: 164px;
    height: 30px;
    font-size: 16px;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: right;
    color: #fe490a;
    line-height: 30px;
    float: right;
    cursor: pointer;
}

.chanpin-tBox-text {
    width: 100%;
    height: 78px;
    font-size: 16px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: justify;
    color: #ffffff;
    line-height: 26px;
    /* text-indent: 34px; */
}

.chanpin-iBox {
    width: 100%;
    height: 144px;
    display: flex;
}

.chanpin-iBox-item {
    width: 84px;
    height: auto;
    margin-top: 40px;
    margin-right: 92px;
}

.chanpin-iBox-img {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
    margin-left: 2px;
    margin-left: 10px;
}

.chanpin-iBox-text {
    width: 100%;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 22px;
}

/* 研发运营体系 */
.yanfa {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 684px;

}

.yanfa-img {
    width: 1200px;
    height: 523px;
    margin: 0 auto;
    padding-top: 75px;
    background: url('../img/yanfayunying.png') 100% 100% no-repeat;
}

/* 服务体系 */
.fuwu {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 810px;
    background: #f2f5fa;
}

.fuwu-img {
    width: 1200px;
    height: 606px;
    margin: 0 auto;
    padding-top: 60px;
    background: url('../img/fuwutixi.png') 100% 100% no-repeat;
}

/* 地图 */
.map {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 770px;
    position: relative;
    z-index: 999;
    
    overflow: hidden;
    /* background: url('../img/shop.png') 100% 100% no-repeat; */
    /* position: fixed;
    top: 4682px;
    left: 0; */

}

#map {
    width: 1920px;
    margin: 0 auto;
    height: 770px;
    background: url('../img/shop.png?v=1')  no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment:fixed;
}

.map-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/map2.png') 100% 100% no-repeat;
    
}
@media screen and (max-width: 1400px){
    .map-mask{
        background: url('../img/map.png')  no-repeat;
        background-size:100% 100%;

    }
}
.map-box {
    width: 1200px;
    margin: 0 auto;
    height: 770px;
    position: relative;
    left: 0;
    right: 0;
}

.map-title {
    width: 100%;
    height: 50px;
    font-size: 36px;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    padding-top: 80px;
}

.map-line {
    width: 66px;
    height: 4px;
    opacity: 0.5;
    background: #ffffff;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.map-text {
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
}

/* 合作 */
.hezuo {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 790px;
}

.hezuo-box {
    width: 1201px;
    margin: 0 auto;
    height: 790px;
    position: relative;
    left: 0;
    right: 0;
}

.hezuo-img {
    width: 1201px;
    height: 449px;
    margin: 0 auto;
    background-image: url('../img/hezuo.png') ;
    background-size: 1201px 440px;
    background-repeat: no-repeat;
}

.hezuo-shenqing {
    width: 160px;
    height: 50px;
    background: linear-gradient(90deg, #fe7702, #ff4301);
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgba(255, 66, 1, 0.50);
    margin: 0 auto;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    margin-top: 105px;
    cursor: pointer;
}

/* 品牌 */
.pinpai {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 420px;
    position: relative;
    
    background: url('../img/bg-hezuo.png') 100% 100% no-repeat;
}

.pinpai-box {
    width: 1200px;
    margin: 0 auto;
    height: 420px;
    position: relative;
    left: 0;
    right: 0;
}

.pinpai-title {
    width: 100%;
    height: 50px;
    font-size: 36px;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #333333;
    line-height: 50px;
    padding-top: 50px;
}

.pinpai-line {
    width: 66px;
    height: 4px;
    opacity: 0.5;
    background: #fe490a;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

.pinpai-list {
    width: 1200px;
    height: 78px;
    position: relative;
}

.pinpai-list-left {
    width: 12px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 35px;
    background: url('../img/pinpai-left.png') 100% 100% no-repeat;
    cursor: pointer;
}

.pinpai-list-right {
    width: 12px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 35px;
    background: url('../img/pinpai-left.png') 100% 100% no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
}

.pinpai-jBox {
    width: 1100px;
    height: 78px;
    position: absolute;
    left: 50px;
    top: 0;
    overflow: hidden;
}

.pinpai-jBox-box {
    width: 2250px;
    height: 78px;
    display: flex;
overflow: hidden;
}

.pinpai-jBox-item {
    width: 200px;
    height: 78px;
    background: #ffffff;
    border-radius: 14px;
    margin-right: 25px;
}

.pinpai-more {
    width: 160px;
    height: 50px;
    border: 1px solid #ff4501;
    border-radius: 10px;

    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: center;
    color: #ff4401;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 48px;
    cursor: pointer;
}

/* 咨询动态 */
.news {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 800px;
    position: relative;
}

.news-box {
    width: 1200px;
    margin: 0 auto;
    height: 800px;
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden;
}

.news-title {
    width: 100%;
    height: 50px;
    padding-top: 50px;
    margin-bottom: 70px;
}

.news-title-name {
    width: 144px;
    height: 50px;
    font-size: 36px;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: left;
    color: #333333;
    line-height: 50px;
    float: left;
}

.news-title-info {
    width: 317px;
    height: 50px;
    float: right;

}

.news-title-info-text {
    width: 72px;
    height: 33px;
    font-size: 18px;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: left;
    color: #333333;
    line-height: 33px;
    float: left;
    margin-right: 60px;
    margin-top: 9px;
    cursor: pointer;
}

.news-title-info-text-act {

    color: #fe490a;
    border-bottom: 4px solid #fe490a;
}

.news-title-more {
    width: 52px;
    height: 26px;
    border: 1px solid #999999;
    border-radius: 4px;

    font-size: 12px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #999999;
    line-height: 26px;
    float: right;
    vertical-align: top;
    margin-top: 9px;
    cursor: pointer;
}
.news-info-box{
    width: 200%;
    height: 480px;
    overflow: hidden;
}
.news-info {    
    width: 1200px;
    height: 480px;
    float: left;
}

.news-info-left {
    width: 500px;
    height: 480px;
    float: left;
}

.news-info-left-iBox {
    width: 500px;
    height: 300px;
    position: relative;
}

.news-info-left-iBox-img {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
}

.news-info-left-iBox-date {
    width: 100px;
    height: 50px;
    background: #fe490a;

    font-size: 16px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.news-info-left-tBox{
    width: 400px;
    height: 140px;
    padding: 40px 50px 0;
background: #f8f8f8;
}
.news-info-left-tBox-title{
    width: 100%;
height: 25px;
font-size: 18px;
font-family: PingFangSC, PingFangSC-Semibold;
font-weight: 600;
text-align: left;
color: #333333;
line-height: 25px;
overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 20px;

}
.news-info-left-tBox-text{
    width: 100%;
height: 40px;
font-size: 14px;
font-family: PingFangSC, PingFangSC-Regular;
font-weight: 400;
text-align: justify;
color: #666666;
line-height: 20px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
/*! autoprefixer: off */
-webkit-box-orient: vertical
/* autoprefixer: on */
}
.news-info-right{
    width: 600px;
    height: 480px;
    float: right;
}
.news-info-right-iBox{
    width: 100%;
    display: flex;
}
.news-info-right-iBox-item{
    width: 290px;
    height:286px;

}
.news-info-right-iBox-item-sBox{
    width: 290px;
    height: 174px;
    position: relative;
}
.news-info-right-iBox-item-sBox-img{
    width: 290px;
    height: 174px;
    position: absolute;
    left: 0;
    left: 0;
}
.news-info-right-iBox-item-sBox-date{
    width: 70px;
height: 35px;
background: #fe490a;

font-size: 16px;
font-family: PingFangSC, PingFangSC-Medium;
font-weight: 500;
text-align: center;
color: #ffffff;
line-height: 35px;
position: absolute;
right: 0;
bottom: 0;
}
.news-info-right-iBox-item-text{
    width: 90%;
height: 22px;
font-size: 16px;
font-family: PingFangSC, PingFangSC-Medium;
font-weight: 500;
text-align: left;
color: #333333;
line-height: 22px;
overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 20px;
}
.news-info-right-list{
    width: 100%;
    height: 183px;
    margin-top: 10px;
}
.news-info-right-list-item{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dedede;

}
.news-info-right-list-item-left{
    width: 450px;
height: 60px;
font-size: 16px;
font-family: PingFangSC, PingFangSC-Medium;
font-weight: 500;
text-align: left;
color: #333333;
line-height: 60px;
float: left;
overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-info-right-list-item-date{
    width: 49px;
height: 60px;
font-size: 16px;
font-family: PingFangSC, PingFangSC-Medium;
font-weight: 500;
text-align: right;
color: #333333;
line-height: 60px;
float: right;
}

/* 页脚 */
.foot {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 570px;
    position: relative;
    background: #242424;
}

.foot-box {
    width: 1200px;
    margin: 0 auto;
    height: 570px;
    position: relative;
    left: 0;
    right: 0;
}
.foot-top{
    width: 100%;
    height: 350px;
    display: flex;
}
.foot-top-left{
    width: 220px;
    height:auto;

}
.foot-top-left-logo{
    width: 110px;
    height: 36px;
    border-radius: 10px;
    margin-top: 39px;
}
.foot-top-left-tel{
    width: 150px;
    height: 36px;
    background: #ff4501;
    border-radius: 4px;
font-size: 14px;
font-family: PingFangSC, PingFangSC-Regular;
font-weight: 400;
color: #ffffff;
line-height: 36px;
text-indent: 40px;
position: relative;
margin-top: 31px;
}
.foot-top-left-tel-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 8px;
}
.foot-top-line{
    width: 1px;
    height: 240px;
    margin-right: 69px;
    margin-top: 59px;
    background: #666666;
}
.foot-top-mid{
    width: 182px;
    height: auto;
    margin-top: 54px;
}
.foot-top-mid-title{
    width: 100%;
height: 22px;
font-size: 16px;
font-family: PingFangSC, PingFangSC-Medium;
font-weight: 500;
text-align: left;
color: #ffffff;
line-height: 22px;
margin-bottom: 23px;
}
.foot-top-mid-item{
    width: 100%;
height: 35px;
font-size: 14px;
font-family: PingFangSC, PingFangSC-Regular;
font-weight: 400;
text-align: left;
color: #dedede;
line-height: 35px;
}
.foot-top-right{
    width: 90px;
    height: auto;
}
.foot-top-right-title{
width: 100%;
height: 22px;
font-size: 16px;
font-family: PingFangSC, PingFangSC-Medium;
font-weight: 500;
text-align: left;
color: #ffffff;
line-height: 22px;
margin-top: 54px;
margin-bottom: 30px;
}
.foot-top-right-img{
    width: 90px;
    height: 90px;
    background-color:#fff 
}
.foot-hezuo{
    width: 1200px;
    height: 60px;
    border-top: 1px solid #666666;
    display: flex;
}
.foot-hezuo-title{
    width: 100px;
    height: 60px;
font-size: 14px;
font-family: PingFangSC, PingFangSC-Medium;
font-weight: 500;
text-align: left;
color: #ffffff;
line-height: 60px;
}
.foot-hezuo-item{
    width: 129px;
    height: 40px;
    margin-top: 9px;
    border-right: 1px solid #666666;
}
.foot-hezuo-item:last-child{
    border-right: 0;
}
.foot-hezuo-item-img{
    width: 80px;
    height: 26px;
    margin-top: 7px;
    margin-left: 24px;
}
.foot-hezuo-text{
    width: auto;
height: 20px;
font-size: 14px;
font-family: PingFangSC, PingFangSC-Regular;
font-weight: 400;
text-align: left;
color: #dedede;
line-height: 20px;
margin-top: 21px;
padding: 0 24px;
border-right: 1px solid #666666;
}
.foot-hezuo-text:last-child{
    border-right: 0;
}
.foot-banquan{
    width: 691px;
height: 40px;
font-size: 14px;
font-family: PingFangSC, PingFangSC-Regular;
font-weight: 400;
text-align: left;
color: #b9b9b9;
line-height: 20px;
}
.foot-hezuo-text:hover{
    text-decoration: underline;
    cursor: pointer;
}









