<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>推荐给朋友</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="http://static.51shanhe.com/wxCenter/css/reset.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://static.51shanhe.com/wxCenter/fonts/iconfont.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://static.51shanhe.com/wxCenter/css/sweetalert.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://static.51shanhe.com/wxCenter/css/style.css" media="all">
	</head>

	<body>
		<div id="loadstart" class="loadzz">
			<div class="loading_k">
				<div class="loading"></div>
			</div>
		</div>
		<div class="vipCenter shareCon" id="Vip">
			<img src="http://static.51shanhe.com/wxCenter/images/share_bg.png" class="share_bg">
			<div class="sharebody flex_cc">
				<h3 class="shareTit">邀好友领卡得奖励</h3>
				<div class="wxCard">
					<img :src="cardCon.localImgUrl" class="wxCardImg">
					<div class="cardTit flex_cc">
						<img :src="cardCon.logoUrl">
						<h3>{{cardCon.cardName}}<span>{{wxcardCon.subtitle}}</span></h3>
					</div>
				</div>
				<ul class="shareFun flex_cc">
					<li class="flex_cc" v-for="(item,i) in shareFun" @click="shareFunTab(i)">
						<i class="icon iconfont" :class="item.funicon"></i>
						<p>{{item.funtit}}</p>
					</li>
				</ul>
				<div class="shareFunCon">
					<div class="shareFunCon1 flex_cc" v-show="shareFunCon==0">
						<p class="shareFunConTit">扫码领取会员卡</p>
						<div id="shareFunCon1Img"></div>
					</div>
					<div class="shareFunCon2 flex_cc" v-show="shareFunCon==1">
						<p class="shareFunConTit">共计邀请好友 <span>2</span> 人</p>
						<ul class="invitelist">
							<li class="flex_cc" v-for="(item,i) in invitelist">
								<img :src="item.inviteImg">
								<div class="inviteCon flex_cc">
									<h3>{{item.inviteName}}<span>已领卡</span></h3>
									<p>{{item.inviteTime}}</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="shareFunCon3 flex_cc" v-show="shareFunCon==2">
						<p class="shareFunConTit">我的奖励</p>
						<ul class="cplist">
							<li class="flex_cc" v-for="(item,i) in cplist">
								<div class="cpCon flex_cc" v-if="item.cptype == 0">
									<div class="cpConL">
										￥ <span>{{item.cpjine}}</span>
									</div>
									<p class="flex_cc">折扣券<span>满{{item.cpxianzhi}}元即可使用</span></p>
								</div>
								<div class="cpCon flex_cc" v-if="item.cptype == 1">
									<div class="cpConL">
										折 <span>{{item.cpjine.split('.')[1]}}</span>
									</div>
									<p class="flex_cc">代金券<span>满{{item.cpxianzhi}}元即可使用</span></p>
								</div>
								<div class="cpCon flex_cc" v-if="item.cptype == 2">
									<div class="cpConL">
										折 <span>{{item.cpjine.split('.')[1]}}</span>
									</div>
									<p class="flex_cc">兑换券<span>满{{item.cpxianzhi}}元即可使用</span></p>
								</div>
								<p class="flex_cc">立即使用</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="shareBtn">立即分享</div>
				<div class="payline"></div>
				<div class="sharerule flex_cc">
					<p class="shareruleTit">活动规则</p>
					<ul class="shareruleCon">
						<li class="flex_cc">
							<span>分享规则：</span>
							<p>可通过微信好友、朋友圈、面对面扫二维码等多 种方式邀请好友领卡，好友领卡后充值或消费即可得到奖励</p>
						</li>
					</ul>
					<p class="shareruleTit">会员卡详情</p>
					<ul class="shareruleCon">
						<li class="flex_cc">
							<span>特权说明：</span>
							<p>领取会员卡即送优惠大礼包，包含积分、优惠券等多种优惠券</p>
						</li>
						<li class="flex_cc">
							<span>有效日期：</span>
							<p>永久有效</p>
						</li>
						<li class="flex_cc">
							<span>使用须知：</span>
							<p>无需出示会员卡直接微信、支付宝买单即可享会 员权益</p>
						</li>
					</ul>
				</div>
			</div>
			<img src="http://static.51shanhe.com/wxCenter/images/share_bg1.png" class="share_bg1">
		</div>
	</body>
	<script src="http://static.51shanhe.com/wxCenter/js/jquery.min.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/common/config.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/common/utility.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/js/sweetalert.min.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/lib/layer/layer.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/js/vue.min.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/js/qrcode.min.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/js/JsBarcode.all.min.js"></script>
	<script>
		var insNumber, merNumber, weixinCode, comId, appSecret, mebInfo
		insNumber = JSON.parse(sessionStorage.getItem('num')).institutionNumber
		merNumber = JSON.parse(sessionStorage.getItem('num')).merchantNumber
		new Vue({
			el: '#Vip',
			data: {
				mebNo: "2123345656664147666",
				shareFunCon: 0,
				shareFun: [{
					funtit: '我的二维码',
					funicon: 'iconico',
				}, {
					funtit: '分享记录',
					funicon: 'iconfenxiangjilu',
				}, {
					funtit: '我的奖励',
					funicon: 'iconanchuweidianiconquanji_fuzhi-',
				}],
				invitelist: [{
					inviteImg: 'http://sh-upfile.oss-cn-beijing.aliyuncs.com/1004/crm/logo/1567412767613.png',
					inviteName: '春暖花开',
					inviteTime: '2019-10-31 15:32:23'
				}, {
					inviteImg: 'http://sh-upfile.oss-cn-beijing.aliyuncs.com/1004/crm/logo/1567412767613.png',
					inviteName: '春暖花开',
					inviteTime: '2019-10-31 15:32:23'
				}],
				cplist: [{
					cpjine: '100',
					cpxianzhi: '2000',
					cptype: 0
				}, {
					cpjine: '0.95',
					cpxianzhi: '200',
					cptype: 1
				}, {
					cpjine: '0.95',
					cpxianzhi: '200',
					cptype: 2
				}],
				cardCon: {},
				wxcardCon: {},
			},
			methods: {
				shareFunTab(i) {
					this.shareFunCon = i
				},
				getcard() {
					var that = this
					$.ajax({
						type: "get",
						url: CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.getCard,
						data: {
							"merchantNumber": merNumber
						},
						dataType: "json",
						headers: {
							"Content-Type": "application/json"
						},
						success: function(data) {
							if (data.code === 1000) {
								that.cardCon = data.data
							} else {
								swal({
									title: "",
									text: '功能未开放',
									type: "error",
									showCancelButton: false,
									closeOnConfirm: false,
									showConfirmButton: true,
								});
							}
						}
					});
				},
				getwxcard() {
					var that = this
					$.ajax({
						type: "get",
						url: CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.getWCard,
						data: {
							"merchantNumber": merNumber
						},
						async: false,
						dataType: "json",
						headers: {
							"Content-Type": "application/json"
						},
						success: function(data) {
							if (data.code === 1000) {
								that.wxcardCon = data.data
							} else {
								swal({
									title: "",
									text: '功能未开放',
									type: "error",
									showCancelButton: false,
									closeOnConfirm: false,
									showConfirmButton: true,
								});
							}
						}
					});
				},
				makebarCode: function() {
					var qrcode = new QRCode(document.getElementById("shareFunCon1Img"), {
						width: 140,
						height: 140,
					});
					qrcode.makeCode(this.mebNo);
				},
			},
			created: function created() {
				$('#loadstart').hide()
			},
			mounted: function mounted() {
				this.getcard()
				this.getwxcard()
				this.makebarCode()
			}
		})

		function getQueryString(name) {
			var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
			var r = decodeURIComponent(window.location.search).substr(1).match(reg);
			if (r != null) {
				return unescape(r[2]);
			}
			return null;
		}
	</script>

</html>
