<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>会员管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="./css/reset.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./fonts/iconfont.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/sweetalert.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/style.css" media="all">
		<style type="text/css">
			.vipBillul {
				height: auto;
				overflow: initial;
			}
		</style>
	</head>

	<body>
		<div id="loadstart" class="loadzz">
			<div class="loading_k">
				<div class="loading"></div>
			</div>
		</div>
		<div class="vipCenter" id="Vip">
			<div class="vipBlock vipCardB" v-cloak>
				<img src="./images/index_bg.png" class="index_bg">
				<div class="vipCard-zhang">
					会员总数(个)
				</div>
				<div class="vipCard-zong">
					<span>{{memberCount}}</span>
				</div>
				<ul class="vipCardtool">
					<li class="vipCardtooli">
						<p class="toolitit">今日新增(个)</p>
						<span>{{memberTodCount}}</span>
					</li>
					<li class="vipCardtooli">
						<p class="toolitit">昨日新增(个)</p>
						<span>{{memberYesdCount}}</span>
					</li>
				</ul>
			</div>
			<div class="vipBlock vipTool" v-cloak>
				<ul class="vipToolul">
					<li class="vipTooli" v-for="item in vipToolul1" v-on:click="jump(item.address)">
						<span class="icon iconfont toolimg" :class="item.toolcl"></span>
						<p class="toolitit">{{item.toolitit}}</p>
					</li>
				</ul>
			</div>
			<div class="line10"></div>
			<div class="vipBlock vipBill" v-cloak>
				<div class="vipBilltit">
					<p>会员信息</p>
					<a href="bill-all.html">查看更多</a>
				</div>
				<ul class="vipBillul">
					<li class="vipBilli" v-for="item in vipBilli">
						<div class="vipBilliBody">
							<div class="vipBilliL">
								<p class="vipBillitit">{{item.name?item.name:'--'}}</p>
								<p class="vipBillitime">{{item.cell?item.cell:'--'}}</p>
							</div>
							<div class="vipBilliR">
								<p class="vipBillistate">余额</p>
								<p class="vipBillimoney">¥ {{item.allBalance}}</span></p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="./js/jquery.min.js"></script>
	<script src="./common/config.js"></script>
	<script src="./common/utility.js"></script>
	<script src="./js/sweetalert.min.js"></script>
	<script src="./lib/layer/layer.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/qrcode.min.js"></script>
	<script>
		// http://192.168.1.222:8848/webproject-1/Projectpage/Vip-android/index.html?json={"memberNo": "","merchantNumber": "1004000394","institutionNumber": "1004","clerkNumber": "1004000394","ip": "119.248.3.85","alias": "860d6661c62d937aa2efe18c9fbe2ab4","shopNumber": "","source": 1,"equipmentNumber": "860d6661c62d937aa2efe18c9fbe2ab4","equipmentType": 1}
		// {
		// 	"memberNo": "",
		// 	"merchantNumber": "1004000394",
		// 	"institutionNumber": "1004",
		// 	"clerkNumber": "1004000394",
		// 	"ip": "119.248.3.85",
		// 	"alias": "860d6661c62d937aa2efe18c9fbe2ab4",
		// 	"shopNumber": "",
		// 	"source": 1,
		// 	"equipmentNumber": "860d6661c62d937aa2efe18c9fbe2ab4",
		// 	"equipmentType": 1
		// }
		$(document).ready(function() {
			var userInfo = getQueryString('json')
			sessionStorage.setItem("userInfo", userInfo)
			var insNumber = JSON.parse(sessionStorage.getItem('userInfo')).institutionNumber;
			var merNumber = JSON.parse(sessionStorage.getItem('userInfo')).merchantNumber;
			$(".vipstatement").click(function() {
				window.location.href = "bill-list.html"
			})
			$(".datastatis").click(function() {
				window.location.href = "data-statis.html"
			})

			new Vue({
				el: '#Vip',
				data: {
					page: 1,
					limit: 10,
					memberTodCount: '',
					memberCount: '',
					memberYesdCount: '',
					vipToolul1: [{
						toolcl: "iconhuiyuan",
						toolitit: "会员充值",
						address: "recharge.html"
					}, {
						toolcl: "iconxinjian",
						toolitit: "会员消费",
						address: "consume.html"
					}, {
						toolcl: "iconearn",
						toolitit: "充值记录",
						address: "bill-rec.html"
					}, {
						toolcl: "iconxiaofei1",
						toolitit: "消费记录",
						address: "bill-con.html"
					}],
					memberNo: '',
					memDetails: {},
					vipBilli: []
				},
				methods: {
					changeDatas: function changeDatas(res) {
						for (let i = 0; i < res.length; i++) {
							if (res[i].allBalance.split('.')[0].length > 5) {
								res[i].allBalance = parseInt(res[i].allBalance.split('.')[0] / 10000) + '万'
							}
							if (res[i].giveMoney.split('.')[0].length > 5) {
								res[i].giveMoney = parseInt(res[i].giveMoney.split('.')[0] / 10000) + '万'
							}
						}
						return res
					},
					// 查询会员汇总
					getMemSummary: function getMemSummary() {
						var that = this,
							sendData = new Object()
						sendData.merchantNumber = merNumber
						sendData.page = that.page
						sendData.limit = that.limit
						$.ajax({
							type: "get",
							url: CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.getMembers,
							data: sendData,
							dataType: "json",
							headers: {
								"Content-Type": "application/json"
							},
							success: function success(data) {
								if (data.code === 1000) {
									$('#loadstart').hide()
									that.vipBilli = that.changeDatas(data.data.memberList)
									that.memberTodCount = data.data.memberTodCount
									that.memberCount = data.data.memberCount
									that.memberYesdCount = data.data.memberTodCount
								} else {
									$('#loadstart').hide()
									// swal({
									// 	title: "",
									// 	text: data.msg,
									// 	type: "error"
									// });
									layer.msg(data.msg)
									that.memberTodCount = '--'
									that.memberCount = '--'
									that.memberYesdCount = '--'
								}
							}
						});
					},
					jump: function jump(data) {
						window.location.href = data
					}
				},
				created: function created() {
					this.memberNo = window.location.href.split('?memberNo=')[1]
				},
				mounted: function mounted() {
					this.getMemSummary()
				}
			})

			function getQueryString(name) {
				var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
				var r = decodeURIComponent(window.location.search).substr(1).match(reg);
				if (r != null) {
					return unescape(r[2]);
				}
				return null;
			}
		})
	</script>

</html>
