<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>推荐给朋友</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="http://static.51shanhe.com/wxCenter/css/reset.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://static.51shanhe.com/wxCenter/fonts/iconfont.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://static.51shanhe.com/wxCenter/css/sweetalert.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://static.51shanhe.com/wxCenter/css/style.css" media="all">
		<style type="text/css">
			.cardNum {
				position: absolute;
				left: 20px;
				bottom: 15px;
				z-index: 100;
				color: #fff;
			}
		</style>
	</head>

	<body>
		<div id="loadstart" class="loadzz">
			<div class="loading_k">
				<div class="loading"></div>
			</div>
		</div>
		<div class="vipCenter shareCon" id="Vip">
			<img src="http://static.51shanhe.com/wxCenter/images/share_bg.png" class="share_bg">
			<div class="sharebody flex_cc" v-cloak>
				<h3 class="shareTit">邀好友领卡得奖励</h3>
				<div class="wxCard">
					<img :src="cardCon.localImgUrl" class="wxCardImg">
					<div class="cardTit flex_cc">
						<img :src="cardCon.logoUrl">
						<h3>{{cardCon.cardName}}<span>{{wxcardCon.subtitle}}</span></h3>
					</div>
					<div class="cardNum">
						NO.8888 8888 8888 8888
					</div>
				</div>
				<ul class="shareFun flex_cc" v-cloak>
					<li class="flex_cc" v-for="(item,i) in shareFun" @click="shareFunTab(i)">
						<i class="icon iconfont" :class="item.funicon"></i>
						<p>{{item.funtit}}</p>
					</li>
				</ul>
				<div class="shareFunCon" v-cloak>
					<div class="shareFunCon1 flex_cc" v-show="shareFunCon==0" v-cloak>
						<p class="shareFunConTit">扫码领取会员卡</p>
						<div id="shareFunCon1Img"></div>
					</div>
					<div class="shareFunCon2 flex_cc" v-show="shareFunCon==1" v-cloak>
						<p class="shareFunConTit">共计邀请好友 <span>{{invitelist.length}}</span> 人</p>
						<ul class="invitelist">
							<li class="flex_cc" v-for="(item,i) in invitelist">
								<img :src="item.headSculpture">
								<div class="inviteCon flex_cc">
									<h3>{{item.name}}<span>已领卡</span></h3>
									<p>{{item.insertTime}}</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="shareFunCon3 flex_cc" v-show="shareFunCon==2" v-cloak>
						<p class="shareFunConTit">我的奖励</p>
						<div class="shareFunConDiv">
							<ul class="shareFunConList">
								<li v-if="reward_jf == 0">
									<div class="shareFunConListli flex_cc" style="justify-content: center;">
										无分享奖励
									</div>
								</li>
								<li v-if="reward_jf != 0">
									<div class="shareFunConListli flex_cc">
										<img src="http://static.51shanhe.com/wxCenter/images/jl-jifen.png" alt="">
										<p class="flex_cc">{{reward_jf}}积分<span>奖励领卡后自动发放</span></p>
									</div>
								</li>
								<li v-if="reward_je != 0">
									<div class="shareFunConListli flex_cc">
										<img src="http://static.51shanhe.com/wxCenter/images/jl-yue.png" alt="">
										<p class="flex_cc">{{reward_je}}元余额<span>奖励领卡后自动发放</span></p>
									</div>
								</li>
								<li v-if="cplist.length > 0" v-for="item in cplist">
									<div class="shareFunConListli flex_cc">
										<img src="http://static.51shanhe.com/wxCenter/images/jl-yhq.png" alt="">
										<p class="flex_cc">{{item.Voucher_Name}}<span>奖励领卡后自动发放</span></p>
										<h5>x <span>{{item.fullGive}}</span></h5>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="shareBtn" @click="shareBtn()" v-cloak>立即分享</div>
				<div class="payline" v-cloak></div>
				<div class="sharerule flex_cc" v-cloak>
					<p class="shareruleTit">活动规则</p>
					<ul class="shareruleCon">
						<li class="flex_cc">
							<span>分享规则：</span>
							<p>可通过微信好友、朋友圈、面对面扫二维码等多 种方式邀请好友领卡，好友领卡后充值或消费即可得到奖励</p>
						</li>
					</ul>
					<p class="shareruleTit">会员卡详情</p>
					<ul class="shareruleCon">
						<li class="flex_cc">
							<span>特权说明：</span>
							<p>{{cardCon.privilegeState}}</p>
						</li>
						<li class="flex_cc">
							<span>有效日期：</span>
							<p>永久有效</p>
						</li>
						<li class="flex_cc">
							<span>使用须知：</span>
							<p>{{cardCon.useInstructions}}</p>
						</li>
					</ul>
				</div>
			</div>
			<img src="http://static.51shanhe.com/wxCenter/images/share_bg1.png" class="share_bg1">
		</div>
	</body>
	<script src="http://static.51shanhe.com/wxCenter/js/jquery.min.js"></script>
	<!-- <script src="http://static.51shanhe.com/wxCenter/common/config.js"></script> -->
	<script src="http://api.51shanhe.com/WxCenter/common/config.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/common/utility.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/js/sweetalert.min.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/lib/layer/layer.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/js/vue.min.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/js/qrcode.min.js"></script>
	<script src="http://static.51shanhe.com/wxCenter/js/JsBarcode.all.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<script>
		new Vue({
			el: '#Vip',
			data: {
				// 以下所有页面共用数据
				page: 1,
				limit: 10,
				insNumber: '',
				merNumber: '',
				weixinCode: '',
				appSecret: '',
				memberNo: '',
				memDetails: {},
				memCpnum: 0,
				// 以下当前页面数据
				mebNo: "2123345656664147666",
				shareFunCon: 1000,
				shareFun: [{
					funtit: '我的二维码',
					funicon: 'iconico',
				}, {
					funtit: '分享记录',
					funicon: 'iconfenxiangjilu',
				}, {
					funtit: '我的奖励',
					funicon: 'iconanchuweidianiconquanji_fuzhi-',
				}],
				invitelist: [],
				cplist: [],
				cardCon: {},
				wxcardCon: {},
				reward_jf: '',
				reward_je: '',
			},
			methods: {
				shareFunTab: function shareFunTab(i) {
					if (this.shareFunCon == i) {
						this.shareFunCon = 1000
						return
					} else {
						this.shareFunCon = i
					}
					switch (i) {
						case 0:
							$('#loadstart').show()
							this.shareCardGetUrl()
							break;
						case 1:
							$('#loadstart').show()
							this.getShareRecord()
							break;
						case 2:
							$('#loadstart').show()
							this.getShareMyReward()
							break;
					}
				},
				getcard: function getcard() {
					var that = this
					$.ajax({
						type: "get",
						url: CmsUtility.isHttps(CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.getCard),
						data: {
							"merchantNumber": that.merNumber
						},
						dataType: "json",
						headers: {
							"Content-Type": "application/json"
						},
						success: function(data) {
							if (data.code === 1000) {
								that.getwxcard()
								that.getsig()
								that.cardCon = data.data
							} else {
								layer.msg(data.msg)
							}
						}
					});
				},
				getwxcard: function getwxcard() {
					var that = this
					$.ajax({
						type: "get",
						url: CmsUtility.isHttps(CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.getWCard),
						data: {
							"merchantNumber": that.merNumber
						},
						async: false,
						dataType: "json",
						headers: {
							"Content-Type": "application/json"
						},
						success: function(data) {
							$('#loadstart').hide()
							if (data.code === 1000) {
								that.wxcardCon = data.data
							} else {
								layer.msg(data.msg)
							}
						}
					});
				},
				shareCardGetUrl: function shareCardGetUrl() {
					var that = this,
						ajaData = new Object();
					ajaData.merchantNumber = that.merNumber
					ajaData.institutionNumber = that.insNumber
					ajaData.memberNo = JSON.parse(sessionStorage.getItem("mInfo")).memberNo
					CmsUtility.postAjaxCall2(
						//系统设置
						CmsUtility.isHttps(CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.shareCardGetUrl),
						ajaData,
						function(data) {
							$('#loadstart').hide()
							if (data.code == '1000') {
								that.makebarCode(data.data.getCardUrl)
							} else {
								layer.msg(data.msg)
							}
						},
						function(data) {
							console.log('222')
						},
						'get'
					)
				},
				getShareRecord: function getShareRecord() {
					var that = this,
						ajaData = new Object();
					ajaData.page = '1'
					ajaData.limit = '999'
					ajaData.shareMemberNo = JSON.parse(sessionStorage.getItem("mInfo")).memberNo
					CmsUtility.postAjaxCall2(
						//系统设置
						CmsUtility.isHttps(CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.getShareRecord),
						ajaData,
						function(data) {
							$('#loadstart').hide()
							if (data.code == '1000') {
								that.invitelist = data.data.list
							} else {
								layer.msg(data.msg)
							}
						},
						function(data) {
							console.log('222')
						},
						'get'
					)
				},
				getShareMyReward: function getShareMyReward() {
					var that = this,
						ajaData = new Object();
					ajaData.merchantNumber = that.merNumber
					ajaData.activityClass = 2
					CmsUtility.postAjaxCall2(
						//系统设置
						CmsUtility.isHttps(CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.getShareMyReward),
						ajaData,
						function(data) {
							$('#loadstart').hide()
							if (data.code == '1000') {
								that.reward_jf = data.data.resultGive[0].integral
								that.reward_je = data.data.resultGive[0].money
								that.cplist = data.data.resultVoucher
								console.log(data.data)
							} else {
								layer.msg(data.msg)
							}
						},
						function(data) {
							console.log('222')
						},
						'get'
					)
				},
				getsig: function getsig() {
					var that = this,
						ajaData = new Object();
					ajaData.merchantNumber = that.merNumber
					ajaData.url = window.location.href
					CmsUtility.postAjaxCall2(
						//系统设置
						CmsUtility.isHttps(CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.jsApiGetSign),
						ajaData,
						function(data) {
							if (data.code == '1000') {
								wx.config({
									debug: true,
									appId: data.data.appId,
									// appId: JSON.parse(sessionStorage.getItem("numw")).weixinCode,
									timestamp: data.data.timestamp,
									nonceStr: data.data.nonce_str,
									signature: data.data.signature,
									jsApiList: [
										'updateAppMessageShareData', 'onMenuShareAppMessage'
									]
								});
							} else {
								layer.msg(data.msg)
							}
						},
						function(data) {
							console.log('222')
						},
						'get'
					)
				},
				shareBtn: function shareBtn() {
					var that = this
					wx.ready(function() {
						var shareData = {
							title: that.cardCon.shareTitle, // 分享标题
							desc: that.cardCon.shareDescribe, // 分享描述
							link: window.location.href.split('#')[0],
							// link: 'https://api.51shanhe.com/h5-crm/getCard.html?deliveryNo=15750855259792728&institutionNumber=1004&merchantNumber=1004000394', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
							imgUrl: that.cardCon.localImgUrl, // 分享图标
							success: function() {
								alert(that.cardCon.shareTitle)
							}
						};
						// 分享到朋友
						wx.updateAppMessageShareData(shareData)
						// 分享到朋友圈
						wx.updateTimelineShareData(shareData)
					});
					wx.error(function(res) {
						alert(res)
					})


					// wx.ready(function() { //需在用户可能点击分享按钮前就先调用
					// 	var shareData = {
					// 		title: '分享标题', // 分享标题
					// 		desc: '分享描述', // 分享描述
					// 		link: 'http://www.baidu.com', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
					// 		imgUrl: 'http://www.baidu.com/static/addHtml/images/iterationTheme/common/logo_new.png', // 分享图标
					// 		success: function(res) {
					// 			// 设置成功
					// 		},
					// 		error: function(res) {}
					// 	};
					// 	//自定义“分享给朋友”及“分享到QQ”按钮的分享内容（1.4.0）
					// 	wx.updateAppMessageShareData(shareData);
					// 	//自定义“分享到朋友圈”及“分享到QQ空间”按钮的分享内容（1.4.0）
					// 	wx.updateTimelineShareData(shareData);
					// });
					wx.error(function(res) {
						// config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
						alert(res.errMsg);
					});
				},
				makebarCode: function(code) {
					document.getElementById('shareFunCon1Img').innerHTML = ''
					var qrcode = new QRCode(document.getElementById("shareFunCon1Img"), {
						width: 140,
						height: 140,
					});
					qrcode.clear();
					qrcode.makeCode(code);
				},
			},
			created: function created() {
				var that = this
				if (!JSON.parse(sessionStorage.getItem('num')) || !JSON.parse(sessionStorage.getItem('numw')) || !JSON.parse(
						sessionStorage.getItem('mInfo'))) {
					if (/MicroMessenger/.test(window.navigator.userAgent)) {
						if (window.location.href.indexOf('&code=') == -1) {
							var num = {
								"institutionNumber": getQueryString('institutionNumber'),
								"merchantNumber": getQueryString('merchantNumber'),
								"localUrl": window.location.href,
							}
							sessionStorage.setItem("num", JSON.stringify(num));
							var scope = "snsapi_userinfo";
							var redirect_uri = window.location.href;
							that.insNumber = JSON.parse(sessionStorage.getItem('num')).institutionNumber
							that.merNumber = JSON.parse(sessionStorage.getItem('num')).merchantNumber
							$.ajax({
								url: CmsUtility.isHttps("http://api.51shanhe.com/p-member/server/getMerAppId?merchantNumber=" + that.merNumber),
								type: "GET",
								async: false,
								headers: {
									"Content-Type": "application/x-www-form-urlencoded"
								},
								success: function(data) {
									if (data.code == 1000) {
										that.weixinCode = data.data.appId;
										that.appSecret = data.data.appSecret
										var numw = {
											"weixinCode": data.data.appId,
											"appSecret": data.data.appSecret,
										}
										sessionStorage.setItem("numw", JSON.stringify(numw));
										window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=" + that.weixinCode +
											"&redirect_uri=" + redirect_uri + "&response_type=code&scope=" + scope +
											"&state=start#wechat_redirect"
									}
								}
							})
						} else {
							that.insNumber = JSON.parse(sessionStorage.getItem('num')).institutionNumber
							that.merNumber = JSON.parse(sessionStorage.getItem('num')).merchantNumber
							that.weixinCode = JSON.parse(sessionStorage.getItem('numw')).weixinCode;
							that.appSecret = JSON.parse(sessionStorage.getItem('numw')).appSecret
							var code = window.location.href.split('&code=')[1].split('&state')[0];
							$.ajax({
								url: CmsUtility.isHttps("http://api.51shanhe.com/p-member/server/getMemInfo?merchantNumber=" + that.merNumber +
									'&appId=' +
									that.weixinCode + '&code=' + code + '&appSecret=' + that.appSecret),
								type: "GET",
								headers: {
									"Content-Type": "application/x-www-form-urlencoded"
								},
								success: function(data) {
									// $('#loadstart').hide()
									if (data.code == '-2' || data.code == -2) {
										that.memDetails = data.data
										that.insNumber = JSON.parse(sessionStorage.getItem('num')).institutionNumber
										that.merNumber = JSON.parse(sessionStorage.getItem('num')).merchantNumber
										sessionStorage.setItem("mInfo", JSON.stringify(data.data));
										that.getcard()
										// $('#loadstart').hide()
									} else if (data.code == '-1' || data.code == -1) {
										returnCard = true
										swal({
											title: "",
											text: "您已退卡，是否重新领卡！",
											type: "error",
											showCancelButton: true,
											confirmButtonColor: "#DD6B55",
											confirmButtonText: "领卡",
											cancelButtonText: "关闭",
											closeOnConfirm: false,
											closeOnCancel: false
										}, function(isConfirm) {
											if (isConfirm) {
												window.location.href = CmsUtility.isHttps('http://api.51shanhe.com/h5-crm/againCard.html?mebNo=' +
													data.data.memberNo +
													'&merNo=' + data.data.userNo +
													'&merN=' + that.merNumber + '&insN=' + that.insNumber)
											} else {
												wx.closeWindow();
											}
										})
									} else if (data.code == '1000' || data.code == 1000) {}
								}
							})

						}
					}
				} else {
					// $('#loadstart').hide()
					that.insNumber = JSON.parse(sessionStorage.getItem('num')).institutionNumber
					that.merNumber = JSON.parse(sessionStorage.getItem('num')).merchantNumber
					that.memDetails = JSON.parse(sessionStorage.getItem('mInfo'))
					that.getcard()
				}
			},
		})

		function getQueryString(name) {
			var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
			var r = decodeURIComponent(window.location.search).substr(1).match(reg);
			if (r != null) {
				return unescape(r[2]);
			}
			return null;
		}
	</script>

</html>
