<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="./css/reset.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./fonts/iconfont.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/sweetalert.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/style.css" media="all">
	</head>

	<body>
		<div id="loadstart" class="loadzz">
			<div class="loading_k">
				<div class="loading"></div>
			</div>
		</div>
		<div class="vipCenter tmTab" id="Vip">
			<ul class="tmTabtit flex_cc" v-cloak>
				<li v-for="(item,i) in tmtit" @click="addC(i,$event,item)" :class="{active:i==current}">{{item.name}}</li>
			</ul>
			<div class="tmTablist" v-cloak>
				<ul class="tmFun flex_cc" v-if="cardshowT==1" v-show="cardshowT==1" v-cloak>
					<li class="flex_cc" v-for="(item,i) in tmFun" @click="addTm(i,item)" :class="{active:i==current_tm}">{{item.name}}</li>
				</ul>
				<ul class="tmTabli" v-if="cardshowT == 0" v-cloak>
					<li class="conList" v-if="cardshowT==0" v-for="(item,i) in conList" :class="item.useType == -2?'stateOff':''"
					 @click="jump(item.voucherNo)">
						<div v-if="item.voucherUse==0" class="conListT zk flex_cc">
							<div class="conListTmodel flex_cc">
								<p>折 <span>{{item.discount}}</span></p>
								<a>折扣券</a>
							</div>
							<p class="conListTCon">{{item.voucherDescribe}}</p>
						</div>
						<div v-else-if="item.voucherUse==1" class="conListT dj flex_cc">
							<div class="conListTmodel flex_cc">
								<p>￥ <span>{{item.discountAmount}}</span></p>
								<a>代金券</a>
							</div>
							<p class="conListTCon">{{item.voucherDescribe}}</p>
						</div>
						<div v-else-if="item.voucherUse==2" class="conListT dh flex_cc">
							<div class="conListTmodel flex_cc">
								<p>￥ <span>20</span></p>
								<a>兑换券</a>
							</div>
							<p class="conListTCon">{{item.voucherDescribe}}</p>
						</div>
						<div class="conListD flex_cc">
							<p>有效期：<span>{{item.endTime}}</span></p>
							<a class="">立即使用</a>
						</div>
					</li>
					<li class="tmList flex_cc" v-if="cardshowT==1" v-for="(item,i) in tmList">
						<h4>{{item.cardName}}</h4>
						<h5>有效期：{{item.insertTime.split(' ')[0]}}至{{item.insertTime.split(' ')[0]}}</h5>
						<p>价格 <span>{{item.stock}}元</span></p>
						<div class="tmListBtn" @click="useorbuy()">{{current_tm == 1?'立即购买':'立即使用'}}</div>
					</li>
				</ul>
				<div class="flex_cc" v-if="cardshowT == 500" style="width: 100%;height: 100%;flex-direction: column;">
					<img src="./images/mescroll-empty.png" style="display: block;">
					<p>暂无数据</p>
				</div>
			</div>
			<ul class="conFun flex_cc" v-show="cardshowT==0 || cardshowT==500" v-cloak>
				<li @click="showuse()">{{usetips}}<i class="icon iconfont iconarrow-right"></i></li>
				<li @click="showcon()">{{contips}}<i class="icon iconfont iconarrow-right"></i></li>
			</ul>
			<div class="mask" v-show="mask" @click="hidemask()"></div>
			<ul class="conFunMask useMask" v-if="cardshowT==0 || cardshowT==500" v-show="mask_u" v-cloak>
				<li v-for="(item,i) in useT" @click="useChoose(item,item.usetype)" :class="{active:item.usetype==current_u}">{{item.usetit}}</li>
			</ul>
			<ul class="conFunMask conMask" v-if="cardshowT==0 || cardshowT==500" v-show="mask_c" v-cloak>
				<li v-for="(item,i) in conT" @click="conChoose(item,item.contype)" :class="{active:item.contype==current_c}">{{item.contit}}</li>
			</ul>
		</div>
	</body>
	<script src="./js/jquery.min.js"></script>
	<script src="./common/config.js"></script>
	<script src="./common/utility.js"></script>
	<script src="./js/sweetalert.min.js"></script>
	<script src="./lib/layer/layer.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/qrcode.min.js"></script>
	<script src="./js/JsBarcode.all.min.js"></script>
	<script>
		// var insNumber, merNumber, weixinCode, comId, appSecret, mebInfo
		// insNumber = JSON.parse(sessionStorage.getItem('num')).institutionNumber
		// merNumber = JSON.parse(sessionStorage.getItem('num')).merchantNumber
		new Vue({
			el: '#Vip',
			data: {
				// 以下所有页面共用数据
				page: 1,
				limit: 10,
				insNumber: '',
				merNumber: '',
				weixinCode: '',
				appSecret: '',
				memberNo: '',
				memDetails: {},
				memCpnum: 0,
				// 以下当前页面数据
				cardshowT: 0,
				mask: false,
				mask_u: false,
				mask_c: false,
				current: 0,
				current_u: 1000,
				current_c: 1000,
				current_tm: 0,
				tmtit: [{
					name: "优惠券"
				}, {
					name: "次/月卡"
				}],
				tmFun: [{
					name: "我的次/月卡"
				}, {
					name: "购买次/月卡"
				}],
				usechoose: 0,
				usetips: '',
				useT: [{
					usetype: 1000,
					usetit: '全部类型',
				}, {
					usetype: 0,
					usetit: '已使用',
				}, {
					usetype: 1,
					usetit: '未使用',
				}, {
					usetype: -2,
					usetit: '已过期',
				}],
				conchoose: 0,
				contips: '',
				conT: [{
					contype: 1000,
					contit: '全部优惠券',
				}, {
					contype: 0,
					contit: '折扣券',
				}, {
					contype: 1,
					contit: '代金券',
				}, {
					contype: 2,
					contit: '满减券',
				}],
				conList: [],
				tmList: [],
			},
			methods: {
				addC: function(i, e, res) {
					this.cardshowT = i
					this.current = i
					this.conList = []
					this.tmList = []
					if (i == 0) {
						$('#loadstart').show();
						this.getVoucher()
						this.current_u = 1000
						this.current_c = 1000
						this.usetips = this.useT[0].usetit
						this.contips = this.conT[0].contit
					} else if (i == 1) {
						layer.msg('功能未开放！')
						this.cardshowT = 0
						this.current = 0
						this.getVoucher()
						// this.getTimeMonth()
					}
				},
				addTm: function(i, res) {
					$('#loadstart').show();
					this.current_tm = i
					this.tmList = []
					if (i == 0) {
						this.getTimeMonth()
					} else if (i == 1) {
						this.getTimeMonth()
					}
				},
				jump: function jump(cardNo) {
					window.location.href = './cardCon.html?cardType=' + this.cardshowT + '&cardNo=' + cardNo
				},
				useorbuy() {
					if (this.current_tm == 0) {
						console.log('shiyong')
					} else if (this.current_tm == 1) {
						console.log('goumai')
					}
				},
				getVoucher() {
					var that = this,
						tjData = new Object();
					tjData.memberNo = JSON.parse(sessionStorage.getItem('mInfo')).memberNo
					tjData.page = '1'
					tjData.limit = '999'
					tjData.shopNo = JSON.parse(sessionStorage.getItem('mInfo')).shopNumber
					tjData.voucherUse = that.current_u == 1000 ? '' : that.current_u
					tjData.useType = that.current_c == 1000 ? '' : that.current_c

					CmsUtility.postAjaxCall2(
						//系统设置
						CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.memberVoucherUseList,
						tjData,
						function(data) {
							$('#loadstart').hide();
							that.mask = false
							that.mask_u = false
							that.mask_c = false
							if (data.code === 1000) {
								if (data.data.voucherCount > 0) {
									that.conList = data.data.voucherList
								} else {
									that.cardshowT = 500
								}
							} else {
								that.cardshowT = 500
								layer.msg(data.msg)
							}
						},
						function(data) {
							console.log('222')
						},
						'get',
					)
					console.log(this.cardshowT)
				},
				getTimeMonth() {
					var that = this,
						sendData = new Object();
					sendData.userNo = merNumber
					sendData.page = 1
					sendData.limit = 999
					$.ajax({
						type: "get",
						url: CmsConfig.ServiceUrl.ApiRootUrlMeb + CmsConfig.addressUrl.Mervip.getCountingcardList,
						data: sendData,
						dataType: "json",
						headers: {
							"Content-Type": "application/json"
						},
						success: function success(data) {
							$('#loadstart').hide(); // 回调
							if (data.code === 1000) {
								that.tmList = data.data.list
							} else {
								swal({
									title: "",
									text: data.msg,
									type: "error",
									showCancelButton: false,
									closeOnConfirm: false,
									showConfirmButton: true,
								});
							}
						}
					});
				},
				changeData(res) {
					if (res.length > 0) {
						for (let i = 0; i < res.length; i++) {
							if (res[i].discount != 0) {
								res[i].discount = res[i].discount * 10
							}
						}
						return res
					}
				},
				showuse() {
					this.mask = true
					this.mask_u = true
				},
				useChoose(e, i) {
					this.current_u = i
					this.usetips = e.usetit
					this.usechoose = i
					console.log(this.current_u)
					console.log(i)
					this.getVoucher()
				},
				showcon() {
					this.mask = true
					this.mask_c = true
				},
				conChoose(e, i) {
					$('#loadstart').show();
					this.current_c = i
					this.contips = e.contit
					this.conchoose = i
					console.log(this.current_c)
					console.log(i)
					this.getVoucher()
				},
				hidemask() {
					this.mask = false
					this.mask_u = false
					this.mask_c = false
				},
			},
			created: function created() {
				var that = this
				if (!JSON.parse(sessionStorage.getItem('num')) || !JSON.parse(sessionStorage.getItem('numw')) || !JSON.parse(
						sessionStorage.getItem('mInfo'))) {
					if (/MicroMessenger/.test(window.navigator.userAgent)) {
						if (window.location.href.indexOf('&code=') == -1) {
							var num = {
								"institutionNumber": getQueryString('institutionNumber'),
								"merchantNumber": getQueryString('merchantNumber'),
								"localUrl": window.location.href,
							}
							sessionStorage.setItem("num", JSON.stringify(num));
							var scope = "snsapi_userinfo";
							var redirect_uri = window.location.href;
							that.insNumber = JSON.parse(sessionStorage.getItem('num')).institutionNumber
							that.merNumber = JSON.parse(sessionStorage.getItem('num')).merchantNumber
							$.ajax({
								url: "http://api.51shanhe.com/p-member/server/getMerAppId?merchantNumber=" + that.merNumber,
								type: "GET",
								async: false,
								headers: {
									"Content-Type": "application/x-www-form-urlencoded"
								},
								success: function(data) {
									if (data.code == 1000) {
										that.weixinCode = data.data.appId;
										that.appSecret = data.data.appSecret
										var numw = {
											"weixinCode": data.data.appId,
											"appSecret": data.data.appSecret,
										}
										sessionStorage.setItem("numw", JSON.stringify(numw));
										window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=" + that.weixinCode +
											"&redirect_uri=" + redirect_uri + "&response_type=code&scope=" + scope +
											"&state=start#wechat_redirect"
									}
								}
							})
						} else {
							that.insNumber = JSON.parse(sessionStorage.getItem('num')).institutionNumber
							that.merNumber = JSON.parse(sessionStorage.getItem('num')).merchantNumber
							that.weixinCode = JSON.parse(sessionStorage.getItem('numw')).weixinCode;
							that.appSecret = JSON.parse(sessionStorage.getItem('numw')).appSecret
							var code = window.location.href.split('&code=')[1].split('&state')[0];
							$.ajax({
								url: "http://api.51shanhe.com/p-member/server/getMemInfo?merchantNumber=" + that.merNumber + '&appId=' +
									that.weixinCode + '&code=' + code + '&appSecret=' + that.appSecret,
								type: "GET",
								headers: {
									"Content-Type": "application/x-www-form-urlencoded"
								},
								success: function(data) {
									// $('#loadstart').hide()
									if (data.code == '-2') {
										that.memDetails = data.data
										sessionStorage.setItem("mInfo", JSON.stringify(data.data));
										switch (getQueryString('cardType')) {
											case '0':
												$('title').text('优惠券')
												that.cardshowT = 0
												that.current = 0
												that.getVoucher()
												break;
											case '1':
												$('title').text('次/月卡')
												that.cardshowT = 1
												that.current = 1
												that.getTimeMonth()
												break;
										}
										that.usetips = that.useT[that.usechoose].usetit
										that.contips = that.conT[that.conchoose].contit
									} else if (data.code == '1000') {}
								}
							})

						}
					}
				} else {
					that.insNumber = JSON.parse(sessionStorage.getItem('num')).institutionNumber
					that.merNumber = JSON.parse(sessionStorage.getItem('num')).merchantNumber
					that.memDetails = JSON.parse(sessionStorage.getItem('mInfo'))
					switch (getQueryString('cardType')) {
						case '0':
							$('title').text('优惠券')
							that.cardshowT = 0
							that.current = 0
							that.getVoucher()
							break;
						case '1':
							$('title').text('次/月卡')
							that.cardshowT = 1
							that.current = 1
							that.getTimeMonth()
							break;
					}
					that.usetips = that.useT[that.usechoose].usetit
					that.contips = that.conT[that.conchoose].contit
				}
			},
			mounted: function mounted() {}
		})

		function getQueryString(name) {
			var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
			var r = decodeURIComponent(window.location.search).substr(1).match(reg);
			if (r != null) {
				return unescape(r[2]);
			}
			return null;
		}
	</script>

</html>
