.login-bg{position: relative;}
#Mycanvas{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.login{width: 100%;margin: 0;min-width: initial;max-width: initial;padding: 0 !important;margin: 0 !important;}
.message{width: 100%;text-align: center;color: #fff;padding-top:5% ;padding-bottom: 20px;}
.message h2{font-size: 30px;margin-bottom: 10px;}
.message h6{font-size: 18px;}
.layui-form{max-width: 380px;min-height:380px;margin: 0 auto;background: #fff;position: relative;z-index: 100;box-sizing: border-box;padding:45px 30px;box-shadow: 0 0 10px rgba(255,255,255,.6);border-radius: 8px;}
.loginbg_bg img{display: block;margin: 0 auto;}

.layui-form-item{border-bottom: 1px solid #e6e6e6;margin-bottom: 35px;}
.layui-form-item label{width: auto;padding-right: 0;}
.layui-form-item input{font-size: 14px;}
.layui-input-block{margin-left: 22px;}
.layui-input{border: none !important;}
.yanzhengimg{position: absolute;top:-9px;right: 0;display: block;}
#codeImg{height: 40px;border:1px solid #999;width:115px;-webkit-user-select:none;user-select:none;border-radius: 4px;}
.codeT {font-size: 30px;line-height: 40px;text-align: center;width: 25px;display: inline-block;-webkit-user-select: none;user-select: none;color: #666;}
.layui-form-label .layui-icon{font-size: 22px;}

.layui-btn{margin-top: 38px;border-radius: 6px;}
.Forgot_p{float: right;}

/*机构色值管理*/
.login-bg.organ{background:#1AB2A4;}
.organ .active .layui-icon{color: #1AB2A4;transition: .3s all;}
.organ .active .layui-input{color: #1AB2A4;transition: .3s all;}
.organ .layui-form-item.active{border-color: #1AB2A4;transition: .3s all;}
.organ .layui-btn{background: #1AB2A4;}
.organ .Forgot_p{color: #1AB2A4;}
/*商户色值管理*/
.login-bg.sh{background:#27A0D3;}
.sh .active .layui-icon{color: #27A0D3;transition: .3s all;}
.sh .active .layui-input{color: #27A0D3;transition: .3s all;}
.sh .layui-form-item.active{border-color: #27A0D3;transition: .3s all;}
.sh .layui-btn{background: #27A0D3;}
.sh .Forgot_p{color: #27A0D3;}
/*代理商色值管理*/
.login-bg.agent{background:#D3A359;}
.agent .active .layui-icon{color: #D3A359;transition: .3s all;}
.agent .active .layui-input{color: #D3A359;transition: .3s all;}
.agent .layui-form-item.active{border-color: #D3A359;transition: .3s all;}
.agent .layui-btn{background: #D3A359;}
.agent .Forgot_p{color: #D3A359;}
