body{background: #F1F1F1;}
.demoTable{background: #fff;margin-bottom: 20px;}
form.layui-form{margin-top: 20px;}
.baobiaolist{background: #fff;text-align: center;padding: 10px;border-bottom: 1px solid #e5e5e5;}
.baobiaolist p{margin: 5px 0;}
.baobiaolistitle{font-size: 1.4rem;color: #666;}
.baobiaolistct{font-size:1.6rem;font-weight: 600;}
.baobiaod{background: #fff;border-right: 1px solid #e5e5e5;text-align: center;padding: 10px 0;}
.baobiaod:last-child{border: none;}
.baobiaod .baobiaodc{display: inline-block;}
.baobiaod .baobiaodc div{background:url(../images/icons-hongsou.png) no-repeat;width: 29px;height: 29px;float: left;}
.baobiaod .baobiaodc p{font-size: 1.4rem;color: #666;line-height: 29px;float: right;margin-left: 10px;}
.dnsj div{background-position: -29px 0 !important;}
.baobiaotu{background: #fff;margin-bottom: 20px;}
