.card_qListli,
.cardSetpreview {
	transition: 0.35s all;
}

.consumeTit {
	background: none;
	border-left: none;
	border-bottom: 1px solid #e6e6e6;
	padding: 5px 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 15px;
}

/* .consumeTit::after{position: absolute;left: 10px;top: calc(50% - 10px);content: '';width: 5px;height: 20px;} */
.consumeTit .leftline {
	display: inline-block;
	width: 5px;
	height: 20px;
	background: #009688;
	margin-right: 10px;
}

.redC {
	color: red;
}

.consumeCard {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.consumeCard::after {
	display: none;
}

.layui-form-checkbox span {
	width: 60px;
	text-align: left;
}

.cardQrcode img {
	width: 100%;
}

.space10 {
	width: 100%;
	height: 10px;
	background: #e6e6e6;
}

.max600 {
	max-width: 600px;
}

.max480 {
	max-width: 480px;
}

.max400 {
	max-width: 400px;
}

.topbar {
	width: 100%;
	padding-top: 6px;
}

.topbar_w {
	background: #000000;
	padding-bottom: 10px;
}

/* .intBtn img{width: 100%;height: 282px;} */
.imgDel {
	width: 100%;
	height: 100%;
	background: rgb(100, 100, 100, 0.4);
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	transition: 0.35s all;
}

.pinpaiLogo .imgDel {
	line-height: 100px;
}

.cardBgimg .imgDel {
	line-height: 150px;
}

.layui-upload-list {
	position: relative;
	margin: 0;
	border-radius: 6px;
	overflow: hidden;
}

.pinpaiLogo .layui-upload-list {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

.cardBgimg .layui-upload-list {
	width: 250px;
	height: 150px;
	margin-bottom: 10px;
}

.layui-upload-img {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.layui-upload-img img {
	width: 100%;
	height: 100%;
}

#demoText {
	display: flex;
	width: 150px;
	height: auto;
	justify-content: space-between;
	align-items: center;
}

#demoText span {
	margin-top: 10px;
}

#demoText a {
	margin-top: 10px;
}

.upTips {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	border: 1px dashed #E6E6E6;
	background: #fff;
	z-index: 1;
	box-sizing: border-box;
	text-align: center;
	line-height: 1.5;
}

.pinpaiLogo .upTips {
	padding-top: 25px
}

.cardBgimg .upTips {
	padding-top: 50px;
}

.layui-tab-title li:first-child {
	width: 100px;
}

.layui-tab-title li {
	width: 100px;
}

.del {
	top: 1px;
	display: inline-block;
	margin-top: 3px;
	margin-right: 10px;
	margin-left: -5px;
	width: 30px;
	height: 28px;
	border: 1px solid #d2d2d2;
	color: #c2c2c2;
	vertical-align: middle;
	text-align: center;
	text-align: center;
	text-indent: 2px;
	font-size: 20px;
	line-height: 26px;
	cursor: pointer;
}

.del:hover {
	background-color: #ff5722;
}

.layui-form-checkbox {
	margin-right: 0;
}

.layui-elem-quote {
	font-size: 18px;
}

.layui-elem-quote .layui-form-switch {
	margin: 0 15px;
	margin-top: 0;
	width: 40px;
}

.tips_red {
	color: red;
}

.tagsBody {
	padding: 10px;
	max-width: 800px;
	border: 1px solid #e6e6e6;
}

.tagsBody .layui-form-item:last-child {
	display: flex;
	margin: 0;
	justify-content: space-between;
	align-items: center;
}

.site-demo-active {
	width: 100px;
}

.newTagsInput {
	margin-right: 10px;
	width: calc(100% - 100px);
}

#timing .layui-form-label {
	width: auto;
}

.sysItem {
	padding-left: 20px;
}

.chooseColor {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.chooseColor span {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

.merservices span,
.columnshow span {
	width: auto;
}

/* 会员卡设置预览样式 */
.cardSet {
	float: right;
	margin-left: 20px;
	padding: 10px;
	width: calc(100% - 340px);
	background: #f4f8fb;
	border-radius: 6px;
	overflow: hidden;
}

.cardSetpreview {
	position: fixed;
	width: 320px;
	min-height: 569px;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	top: 40px;
	background: #fff;
}

.cardSetpreview ul {
	display: flex;
	width: 100%;
	background: #fff;
	box-sizing: border-box;
}

.card_boby {
	background: #fff;
	padding: 10px;
}

.card_b {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 168px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.card_b_bg {
	width: 100%;
	height: 100%;
}

.card_b_bg img {
	width: 100%;
	height: 100%;
}

.card_posi {
	position: absolute;
	display: flex;
	color: #fff;
}

.card_posi .icon {
	margin-right: 10px;
}

.card_b_lt {
	top: 10px;
	left: 20px;
	justify-content: space-around;
	align-items: center;
}

.card_b_lt img {
	overflow: hidden;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.card_b_lt p {
	margin-left: 10px;
}

.card_b_lt .ltNamepv {
	color: rgba(255, 255, 255, 0.8);
}

.card_b_ld {
	bottom: 15px;
	left: 20px;
	font-size: 18px;
	flex-direction: column;
	align-items: flex-start;
}

.card_b_ld span {
	line-height: 1.5;
}

.card_b_rt {
	top: 20px;
	right: 20px;
}

.card_b_rd {
	right: 10px;
	bottom: 10px;
}

.card_qList {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.card_qListli {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	display: none;
}

.card_qListli h3 {
	margin-bottom: 3px;
	color: #666;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
}

.card_qListli p {
	margin-top: 3px;
	color: #63b359;
	font-size: 16px;
	height: 24px;
	line-height: 24px;
}

.lishow {
	display: flex;
}

.lishow::after {
	position: absolute;
	top: 10px;
	left: 0;
	width: 1px;
	height: 80%;
	background: #e6e6e6;
	content: '';
}

.lishow:first-child::after {
	display: none;
}

.card_cListli {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.card_cListli img {
	width: 50%;
}

.card_cListli p {
	margin-top: 10px;
}

.card_fList {
	flex-direction: column;
	padding: 0 10px;
}

.card_fListli {
	display: flex;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 16px;
	justify-content: space-between;
	align-items: center;
}

.card_fListli:last-child {
	border: none;
}

.card_fListli .card_fListliDiv {
	width: 92%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card_fListli .card_fListliDiv span {
	color: #999;
}

.card_fListli i {
	transform: rotate(-90deg);
}

.intBtn {
	line-height: 40px;
	text-align: center;
	background: skyblue;
	cursor: pointer;
}


.uploadImg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #666;
	z-index: 1;
}

/* 会员卡背景预览 */
.card_bc0 {
	background-color: #63b359;
}

.card_bc1 {
	background-color: #2c9f67;
}

.card_bc2 {
	background-color: #509fc9;
}

.card_bc3 {
	background-color: #5885cf;
}

.card_bc4 {
	background-color: #9062c0;
}

.card_bc5 {
	background-color: #d09a45;
}

.card_bc6 {
	background-color: #e4b138;
}

.card_bc7 {
	background-color: #ee903c;
}

.card_bc8 {
	background-color: #f08500;
}

.card_bc9 {
	background-color: #a9d92d;
}

.card_bc10 {
	background-color: #dd6549;
}

.card_bc11 {
	background-color: #cc463d;
}

.card_bc12 {
	background-color: #cf3e36;
}

.card_bc13 {
	background-color: #5E6671;
}

/* 分享海报设置样式 */

.setSP {
	position: fixed;
	width: 320px;
	height: 569px;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	top: 40px;
	background: #fff;
}

.setSP_b {
	width: 100%;
	height: 100%;
}

.getCardB {
	width: 100%;
	height: 100%;
	padding: 15px 20px;
	position: relative;
	z-index: 1000;
}

.cardB {
	color: #fff;
	margin: 0 auto 20px;
	width: 94%;
	height: auto;
	background: #3DAC6A;
	border-radius: 16px;
	position: relative;
	overflow: hidden;
}

.cardBbg {
	width: 100%;
	height: 100%;
	display: block;
}

.cardB_lt,
.cardB_ld,
.cardB_rt {
	position: absolute;
}

.cardB_lt {
	left: 16px;
	top: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cardB_lt_img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}

.cardB_lt_name {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.cardB_lt_name h3 {
	font-size: 14px;
}

.cardB_lt_name p {
	font-size: 12px;
}


.cardB_ld {
	left: 16px;
	bottom: 16px;
}


.cardB_rt {
	right: 16px;
	top: 16px;
	width: 26px;
	height: 26px;
}

.cardB_rt img {
	width: 100%;
	height: 100%;
}

.cardBtn {
	width: 65%;
	height: 44px;
	margin: 0 auto;
	line-height: 44px;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	/* Safari 5.1 - 6.0 */
	background: -webkit-linear-gradient(#FFB76B, #E57F12);
	/* Opera 11.1 - 12.0 */
	background: -o-linear-gradient(#FFB76B, #E57F12);
	/* Firefox 3.6 - 15 */
	background: -moz-linear-gradient(#FFB76B, #E57F12);
	/* 标准的语法 */
	background: linear-gradient(#FFB76B, #E57F12);
}

.detaili {
	width: 100%;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.detaili label {
	width: 70px;
	color: #666;
}

.detaili p {
	width: calc(100% - 70px);
}

.shareD {
	padding: 15px 0;
	border-bottom: 1px solid #EDEDED;
}

.cardDulTit {
	font-size: 14px;
	line-height: 1;
	margin-bottom: 5px;
}

.cardDul {
	width: 100%;
	padding-top: 10px;
}

.cardDul li {
	padding: 10px 0;
}

.cardDulmd li {
	padding: 5px 0;
	border-bottom: 1px dashed #EDEDED;
}

.cardDulmd li:last-child {
	border: none;
}

.cardDulmd li .detaili {
	padding: 5px 0;
}
