.card_qListli,.cardSetpreview{transition: 0.35s all;}

.space10{width: 100%;height: 10px;background: #e6e6e6;}
.max600{max-width: 600px;}
.max480{max-width: 480px;}

.topbar{width: 100%;padding-top: 6px;}
.pinpaiLogo,.cardBgimg{width: auto!important;}
.cardBgimg img{width: 250px!important;height: 150px!important;}
.layui-upload-img{display:flex;width:100px;height:100px;border:1px solid #e6e6e6;border-radius:2px;justify-content:center;align-items:center;}
#demoText{display:flex;width:150px;height:auto;justify-content:space-between;align-items:center;}
#demoText span{margin-top:10px;}
#demoText a{margin-top:10px;}
.layui-tab-title li:first-child{width:100px;}
.layui-tab-title li{width:100px;}
.del{top:1px;display:inline-block;margin-top:3px;margin-right:10px;margin-left:-5px;width:30px;height:28px;border:1px solid #d2d2d2;color:#c2c2c2;vertical-align:middle;text-align:center;text-align:center;text-indent:2px;font-size:20px;line-height:26px;cursor:pointer;}
.del:hover{background-color:#ff5722;}
.layui-form-checkbox{margin-right:0;}
.layui-elem-quote{font-size:18px;}
.layui-elem-quote .layui-form-switch{margin:0 15px;margin-top:0;width:40px;}
.tips_red{color:red;}
.tagsBody{padding:10px;max-width:800px;border:1px solid #e6e6e6;}
.tagsBody .layui-form-item:last-child{display:flex;margin:0;justify-content:space-between;align-items:center;}
.site-demo-active{width:100px;}
.newTagsInput{margin-right:10px;width:calc(100% - 100px);}
#timing .layui-form-label{width:auto;}
.layui-form-checkbox span{width:90px;text-align:center;}
.sysItem{padding-left:20px;}
.chooseColor{display: flex;justify-content: flex-start;align-items: center;}
.chooseColor span{width: 30px;height: 30px;border-radius: 6px;margin-right: 10px;color: #fff;text-align: center;line-height: 30px;cursor: pointer;}
.merservices span,.columnshow span{width: auto;}

/* 会员卡设置预览样式 */
.cardSet{float:right;margin-left:20px;padding-left:10px;width:calc(100% - 340px);border-left:1px solid #e6e6e6;}
.cardSetpreview{position:fixed;width:320px;min-height: 569px;border:1px solid #e6e6e6;border-radius:2px;}
.cardSetpreview ul{display:flex;width:100%;background: #fff;box-sizing: border-box;}
.card_boby{background: #fff;padding: 10px;}
.card_b{position:relative;overflow:hidden;width:100%;height:168px;border-radius:6px;margin-bottom: 10px;}
.card_b_bg{width:100%;height:100%;}
.card_posi{position:absolute;display:flex;color:#fff;}
.card_posi .icon{margin-right:10px;}
.card_b_lt{top:10px;left:20px;justify-content:space-around;align-items:center;}
.card_b_lt img{overflow:hidden;width:40px;height:40px;border-radius:50%;}
.card_b_lt p{margin-left:10px;}
.card_b_lt .ltNamepv{color: rgba(255,255,255,0.8);}
.card_b_ld{bottom:15px;left:20px;font-size:18px;flex-direction:column;align-items:flex-start;}
.card_b_ld span{line-height:1.5;}
.card_b_rt{top:20px;right:20px;}
.card_b_rd{right:10px;bottom:10px;}
.card_qList{justify-content:space-between;align-items:center;margin-bottom: 20px;}
.card_qListli{position:relative;display:flex;width:100%;flex-direction:column;align-items:center;display: none;}
.card_qListli h3{margin-bottom:3px;color:#666;font-size:14px;height: 24px;line-height: 24px;}
.card_qListli p{margin-top:3px;color:#63b359;font-size:16px;height: 24px;line-height: 24px;}
.lishow{display: flex;}
.lishow::after{position:absolute;top:10px;left:0;width:1px;height:80%;background:#e6e6e6;content:'';}
.lishow:first-child::after{display: none;}
.card_cListli{display: flex;flex-direction: column;align-items: center;width: 100%;}
.card_cListli img{width: 50%;}
.card_cListli p{margin-top: 10px;}
.card_fList{flex-direction:column;padding: 0 10px;}
.card_fListli{display:flex;width:100%;height:50px;border-bottom:1px solid #e6e6e6;font-size:16px;justify-content:space-between;align-items:center;}
.card_fListli:last-child{border: none;}
.card_fListli i{transform:rotate(-90deg);}
.intBtn{line-height: 40px;text-align: center;background: skyblue;cursor: pointer;}
/* .intBtn img{width: 100%;height: 282px;} */

/* 会员卡背景预览 */
.card_bc1{background-color:#63b359;background:-webkit-linear-gradient(#8ac683 0,#63b359 100%)}
.card_bc2{background-color:#2c9f67;background:-webkit-linear-gradient(#3eca86 0,#2c9f67 100%)}
.card_bc3{background-color:#509fc9;background:-webkit-linear-gradient(#7fb9d7 0,#509fc9 100%)}
.card_bc4{background-color:#5885cf;background:-webkit-linear-gradient(#88a8dd 0,#5885cf 100%)}
.card_bc5{background-color:#9062c0;background:-webkit-linear-gradient(#af8ed2 0,#9062c0 100%)}
.card_bc6{background-color:#d09a45;background:-webkit-linear-gradient(#dcb576 0,#d09a45 100%)}
.card_bc7{background-color:#e4b138;background:-webkit-linear-gradient(#ebc66e 0,#e4b138 100%)}
.card_bc8{background-color:#ee903c;background:-webkit-linear-gradient(#e0b766 0,#d0a762 100%)}
.card_bc9{background-color:#a9d92d;background:-webkit-linear-gradient(#bee261 0,#a9d92d 100%)}
.card_bc10{background-color:#dd6549;background:-webkit-linear-gradient(#e7917d 0,#dd6549 100%)}
.card_bc11{background-color:#cc463d;background:-webkit-linear-gradient(#d9746d 0,#cc463d 100%)}
