/*2019-07-08*/
.layui-tab-title li {
	min-width: 140px;
}

.layui-form-item.layui-layout-admin {
	position: fixed;
	bottom: 0;
}

.layui-tab-title {
	background: #fff !important;
	border-bottom: 1px solid #e5e5e5 !important;
}

.layui-tab-title .layui-this {
	background: #f6f6f6 !important;
}

.page-content .layui-tab-title {
	background: #fff !important;
	border: none !important;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}

.page-content .layui-tab-title .layui-this {
	background: #f6f6f6 !important;
}

.layui-tab-item.layui-show {
	overflow: hidden;
}

.layui-nav-item1 {
	height: 45px;
	padding-left: 15px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.8);
}
