@charset "UTF-8";
.g-para {
	word-break: break-all;
	word-wrap: break-word
}

.icon-btn-timeline,
.icon-menu-arr,
.icon-timeline,
.timeline-box {
}

.g-block {
	display: block
}

.l-wrap {
	color: #333;
	font-size: 14px;
	line-height: 1.1;
	padding-bottom: 70px
}

.l-wrap .w {
	*zoom: 1
}

.l-wrap .w:after {
	content: "";
	display: block;
	clear: both
}

.l-wrap a:link,
.l-wrap a:visited {
	color: #333
}

.l-silde-wp {
	margin-bottom: 30px
}

.l-menu-item {
	position: relative;
	border-bottom: 1px solid #999
}

.l-menu-item:last-child {
	border-bottom: none
}

.l-menu-item .g-block {
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 30px
}

.l-menu-item .g-block:hover {
	color: #f10215
}

.l-menu-item .g-block:hover .icon-menu-arr {
	background-position: 0 -15px
}

.l-menu-wp {
	width: 208px;
	float: left;
	font-size: 16px
}

.l-menu-wp .h-current {
	background-color: #b1191a
}

.l-menu-wp .h-current .g-block {
	color: #fff
}

.l-menu-wp .h-current .icon-menu-arr,
.l-menu-wp .h-current:hover .icon-menu-arr {
	background-position: -7px 0
}

.icon-menu-arr {
	position: absolute;
	width: 7px;
	height: 14px;
	top: 50%;
	margin-top: -7px;
	right: 30px
}

.english-site .g-block {
	padding-top: 16px;
	padding-bottom: 16px
}

.l-content-wp {
	overflow: hidden;
	padding-left: 66px;
	padding-right: 66px
}

.o-hd {
	margin-bottom: 30px
}

.o-hd .title {
	font-size: 32px
}

.o-hd small {
	font-size: 14px;
	color: #999;
	font-weight: 400;
	display: block;
	padding-top: 8px;
	text-transform: Uppercase
}

.g-para {
	color: #666;
	line-height: 1.7;
	margin-bottom: 20px;
	width: 100%
}

.mod-s01 {
	padding: 25px 36px;
	border: 1px solid #ccc;
	margin-bottom: 15px
}

.mod-s01 .g-para:last-child {
	margin-bottom: 0
}

.mod-hd {
	margin-bottom: 20px
}

.mod-hd .title {
	font-size: 16px
}

.mod-hd .icon-font {
	color: #f10215;
	margin-right: 6px
}

.b-slider-wp {
	border-bottom: 2px solid #eee;
	position: relative;
	height: 270px;
	overflow: hidden;
	margin-bottom: 30px
}

.b-slider-wp .g-block {
	height: 270px;
	background-position: 50% 50%;
	background-repeat: no-repeat
}

.founder-img {
	float: left;
	margin-right: 38px;
	margin-bottom: 20px
}

.timeline-wp .btn-groups {
	padding-top: 50px;
	background-image: linear-gradient(to top, #fff 80px, rgba(255, 255, 255, 0));
	margin-top: -20px;
	text-align: center
}

.timeline-wp .g-para {
	margin-bottom: 0;
	color: #333
}

.timeline-box {
	background-position: -15px 0;
	background-repeat: repeat-y;
	padding-top: 50px;
	padding-bottom: 30px
}

.timeline-item {
	position: relative;
	margin-left: 36px;
	border-style: solid;
	border-width: 1px 1px 1px 4px;
	border-color: #fff;
	padding: 10px 10px 10px 36px;
	width: 732px
}

.timeline-on {
	border-color: #eee #eee #eee #f10215
}

.timeline-on .icon-timeline {
	display: block;
	left: -45px
}

.timeline-time {
	font-size: 12px;
	color: #666;
	margin-bottom: 6px;
	font-weight: 400
}

.icon-timeline {
	background-position: 0 -30px;
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -6px;
	display: none;
	transition: left .5s
}

.btn-timeline {
	background-color: #eee;
	border: 1px solid #ccc;
	height: 48px;
	width: 272px;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #999
}

.icon-btn-timeline {
	width: 14px;
	height: 7px;
	background-position: 0 -43px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle
}

.culture-list {
	margin-left: -10px;
	overflow: hidden;
	*zoom: 1
}

.culture-list .sub-item {
	float: left;
	margin-left: 10px;
	*display: inline;
	overflow: hidden;
	margin-bottom: 10px;
	position: relative
}

.culture-list img {
	display: block;
	transition: transform .5s;
	position: absolute;
	top: -18px;
	left: -18px;
	transform: scale(0.88)
}

.culture-list .fore10,
.culture-list .fore12,
.culture-list .fore8,
.culture-list .fore9 {
	padding-top: 40px;
	height: 146px
}

.culture-list .fore7 {
	padding-top: 50px;
	height: 136px
}

.style-font,
.style-font1 {
	border: 2px solid #b1191a;
	width: 186px;
	height: 186px;
	text-align: center;
	transition: background-color .5s, color .3s
}

.style-font {
	padding-top: 55px;
	height: 131px;
	background-color: #b1191a;
	color: #fff
}

.style-font:hover {
	background-color: #fff;
	color: #333
}

.style-font1:hover {
	background-color: #b1191a;
	color: #fff
}

.style-img {
	border: 1px solid #eee;
	width: 188px;
	height: 188px
}

.style-img:hover img {
	transform: scale(1.2)
}

.txt-eng,
.txt-main,
.txt-para {
	display: block
}

.txt-eng {
	font-size: 14px;
	margin-bottom: 8px
}

.txt-main {
	font-size: 24px;
	margin-bottom: 15px
}

.txt-para {
	font-size: 14px;
	line-height: 1.2
}

.style-font1 {
	display: inline-block;
	vertical-align: middle
}

.ml-list {
	overflow: hidden
}

.ml-list .mlist-item {
	float: left;
	line-height: 34px;
	width: 49%;
	overflow: hidden;
	font-size: 16px
}

.ml-list .mlist-item .link-blue {
	color: #0084ff;
	height: 34px
}

.ml-list .mlist-item .item-bg {
	display: inline-block;
	width: 6px;
	height: 9px;
	margin-left: 10px;
}

.a-c {
	text-align: center
}

.mt20 {
	margin-top: 20px
}

.icon-detitle {
	width: 94px;
	height: 11px;
	margin: 6px auto 10px;
	background: url(../icon-foreword.png) no-repeat
}

.bg-foreword {
	background-position: top right
}

.title-l1 {
	font-size: 20px;
	line-height: 2;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #666
}

.title-l2 {
	font-size: 18px;
	line-height: 2.5;
	margin-bottom: 10px;
	color: #666
}

.title-l3 {
	font-size: 16px;
	line-height: 2;
	margin-bottom: 10px;
	color: #333
}

.title-l4 {
	font-size: 14px;
	color: #666;
	line-height: 1.7
}

.para {
	text-indent: 2em;
	color: #666;
	line-height: 1.7;
	margin-bottom: 15px
}

.l-wrap .txt-reds1 {
	color: #e2231a;
	text-decoration: underline
}

.l-wrap .txt-reds1:link,
.l-wrap .txt-reds1:visited,
.l-wrap .txt-reds3,
.l-wrap .txt-reds3:link,
.l-wrap .txt-reds3:visited {
	color: #e2231a
}

.l-wrap .txt-reds2 {
	color: #e2231a;
	font-weight: 700
}

.l-wrap .txt-reds2:link,
.l-wrap .txt-reds2:visited {
	color: #e2231a
}

.l-wrap .txt-blue {
	color: #0084ff
}

.l-wrap .txt-blue:link,
.l-wrap .txt-blue:visited {
	color: #0084ff;
	text-decoration: underline
}

.l-wrap .txt-red,
.l-wrap .txt-red:link,
.l-wrap .txt-red:visited {
	color: #e2231a
}

.mt35 {
	margin-top: 35px
}

.txt-reds2 {
	color: #e2231a;
	font-weight: 700
}

.thickbox-mask {
	background-color: #000;
	opacity: .3;
	*position: absolute;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99
}

.b-thickbox-wp {
	width: 640px;
	height: 240px;
	background-color: #fff;
	padding: 40px 80px;
	*position: absolute;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -160px;
	z-index: 100;
	overflow: hidden
}

.b-thickbox-wp .icon-thickbox-close {
	position: absolute;
	font-size: 0;
	line-height: 0;
	color: #999;
	right: 15px;
	top: 15px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	display: block
}

.b-thickbox-wp .title {
	font-size: 16px;
	text-align: center;
	color: #666;
	margin-bottom: 25px
}

.b-thickbox-wp .cm-para1 {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 15px
}

.b-thickbox-wp .cm-para2 {
	line-height: 1.5;
	margin-bottom: 30px;
	font-size: 12px
}

.b-thickbox-wp .txt-red {
	color: #e2231a
}

.b-thickbox-wp .btn-groups {
	text-align: center
}

.btn-thickbox-sure {
	border: 1px solid;
	*zoom: 1;
	border-radius: 2px;
	vertical-align: middle;
	cursor: pointer;
	transition: background .3s;
	padding-left: 12px;
	padding-right: 12px;
	outline: 0;
	white-space: nowrap;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	box-sizing: content-box;
	*overflow: visible;
	color: #fff;
	background-color: #e2231a
}

.normal-list {
	padding-top: 8px;
	margin-left: -12px;
	overflow: hidden
}

.normal-list .img-mode {
	width: 186px;
	height: 186px;
	transform: scale(1);
	transition: transform .5s
}

.normal-list .img-mode:hover {
	transform: scale(1.1)
}

.normal-list .sub-item {
	width: 186px;
	float: left;
	height: 186px;
	overflow: hidden;
	position: relative;
	margin-left: 12px;
	margin-bottom: 10px;
	text-align: center
}

.normal-list .sub-item:nth-child(4n) {
	margin-right: 0
}

.normal-list .link-view {
	opacity: 0;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	height: 0;
	font-size: 14px;
	line-height: 24px;
	background-color: #b1191a;
	overflow: hidden;
	transition: opacity .3s
}

.normal-list .link-view:link,
.normal-list .link-view:visited {
	color: #fff
}

.normal-list .txt-eng {
	margin-bottom: 15px
}

.normal-list .txt-main {
	margin-bottom: 30px
}

.normal-list .animate-s1 {
	width: 184px;
	height: 184px;
	background-color: #B1191A;
	border: 2px solid #B1191A;
	color: #fff;
	transition: all .5s
}

.normal-list .animate-s1:hover {
	background-color: #fff;
	border-width: 2px;
	color: #333
}

.normal-list .animate-s1:hover .txt-eng {
	color: #666
}

.normal-list .animate-s1:hover .link-view {
	opacity: 1;
	height: 24px
}

.normal-list .animate-s1:hover .sub-box {
	top: 20%
}

.normal-list .animate-s2 {
	border: 1px solid #EEE
}

.normal-list .sub-box {
	position: absolute;
	transition: top .8s;
	top: 32%;
	left: 0;
	width: 100%
}