<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>会员中心</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="./css/reset.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./fonts/iconfont.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/style.css" media="all">
	</head>

	<body>
		<div class="vipCenter" id="Vip">
			<div class="vipBlock vipCardB">
				<div class="vipCard-zhang">
					今日新增会员<span v-cloak> {{memberTodCount}} </span>个
				</div>
				<div class="vipCard-zong">
					总数<span v-cloak> {{memberCount}}</span>
				</div>
				<ul class="vipCardtool">
					<li class="vipCardtooli vipstatement">
						<span class="icon iconfont icontouzijilu toolimg"></span>
						<p class="toolitit">消费明细</p>
					</li>
					<li class="vipCardtooli datastatis">
						<span class="icon iconfont iconshujutongji toolimg"></span>
						<p class="toolitit">数据统计</p>
					</li>
				</ul>
			</div>
			<div class="vipBlock vipTool">
				<ul class="vipToolul">
					<li class="vipTooli" v-cloak v-for="item in vipToolul1" v-on:click="jump(item.address)">
						<span class="icon iconfont toolimg" :class="item.toolcl"></span>
						<p class="toolitit">{{item.toolitit}}</p>
					</li>
				</ul>
				<ul class="vipToolul">
					<li class="vipTooli" v-cloak v-for="item in vipToolul2" v-on:click="jump(item.address)">
						<span class="icon iconfont toolimg" :class="item.toolcl"></span>
						<p class="toolitit">{{item.toolitit}}</p>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="./js/jquery.min.js"></script>
	<script src="./common/config.js"></script>
	<script src="./common/utility.js"></script>
	<script src="./lib/layer/layer.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/qrcode.min.js"></script>
	<script>
		$(document).ready(function() {
			var userInfo = new Object()
			userInfo.insNumber = '1004'
			userInfo.merNumber = '180913174959827'
			sessionStorage.setItem("userInfo", JSON.stringify(userInfo))
			$(".vipstatement").click(function() {
				window.location.href = "bill-list.html"
			})
			$(".datastatis").click(function() {
				window.location.href = "data-statis.html"
			})
		})



		new Vue({
			el: '#Vip',
			data: {
				memberTodCount: '',
				memberCount: '',
				vipToolul1: [{
					toolcl: "iconhuiyuan",
					toolitit: "会员管理",
					address: "manage.html"
				}, {
					toolcl: "iconxinjian",
					toolitit: "创建会员卡",
					address: "card-list.html"
				}, {
					toolcl: "iconearn",
					toolitit: "会员充值",
					address: "recharge.html"
				}],
				vipToolul2: [{
					toolcl: "iconxiaofei1",
					toolitit: "会员消费",
					address: "consume.html"
				}, {
					toolcl: "iconzhangdan1",
					toolitit: "充值账单",
					address: "vip-statis-rec.html"
				}, {
					toolcl: "iconzhangdan2",
					toolitit: "消费账单",
					address: "vip-statis-con.html"
				}],
			},
			methods: {
				// 查询会员汇总
				getMemSummary: function() {
					var that = this,
						sendData = new Object()
					sendData.institutionNumber = JSON.parse(sessionStorage.getItem('userInfo')).insNumber
					sendData.merchantNumber = JSON.parse(sessionStorage.getItem('userInfo')).merNumber
					CmsUtility.postAjaxCall(
						//系统设置
						CmsConfig.addressUrl.Member.getMemSummary,
						sendData,
						function(data) {
							if (data.code === 1000) {
								that.memberTodCount = data.data.memberTodCount
								that.memberCount = data.data.memberCount
								console.log(data.data)
							} else {
								alert(data.msg)
							}
						},
						function(data) {
							console.log('222')
						},
						'get',
						'false'
					)
				},
				jump: function(data) {
					window.location.href = data
				}
			},
			mounted() {
				this.getMemSummary()
			}
		})
	</script>

</html>
