<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>会员管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="./css/reset.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./fonts/iconfont.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/style.css" media="all">
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="vipCenter" id="Vip">
			<div class="vipBlock vipmemberseach ">
				<p class="vipmemberall">全部会员(<span v-cloak>{{vipmemberNum}}</span>)</p>
				<input type="text" id="" value="" v-model="cell" placeholder="会员手机号/姓名" class="vipmemberseachinput" />
				<!-- <button type="button">搜索</button> -->
				<img src="./img/seach.png" class="vipmemberseachicon">
			</div>
			<div class="mask hide"></div>
			<ul class="vipmemberul">
				<li class="vipmemberi" v-for="item in vipmemberi" v-cloak v-on:click="vipmemberinfo(item.memberNo)">
					<div class="vipmemberiL">
						<img :src="item.logo" class="vipmemberimg">
					</div>
					<div class="vipmemberiR">
						<p class="vipmembername">{{item.nickName}}</p>
						<p class="vipmembercell">{{item.cell}}</p>
					</div>
				</li>
			</ul>
		</div>
	</body>
	<script src="./js/jquery.min.js"></script>
	<script src="./common/config.js"></script>
	<script src="./common/utility.js"></script>
	<script src="./lib/layer/layer.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/qrcode.min.js"></script>
	<script>
		$(document).ready(function() {
			$(".vipmemberseachicon").click(function() {
				setTimeout(function() {
					$('.vipmemberall').hide()
				}, 100)
				$('.mask').removeClass("hide")
				$('.vipmemberseach').addClass("open")
				$('.vipmemberseachinput').focus()
			});
			$(".mask").click(function() {
				setTimeout(function() {
					$('.vipmemberall').show()
				}, 100)
				$('.mask').addClass("hide")
				$('.vipmemberseach').removeClass("open")
				$('.vipmemberseachinput').val("")
			})
		})
		new Vue({
			el: '#Vip',
			data: {
				cell: '',
				pageNo: 1,
				pageCount: 10,
				vipmemberi: [],
				vipmemberNum:''
			},
			methods: {
				// 获取会员列表
				getMembers: function() {
					var that = this,
						sendData = new Object()
					sendData.institutionNumber = JSON.parse(sessionStorage.getItem('userInfo')).insNumber
					sendData.merchantNumber = JSON.parse(sessionStorage.getItem('userInfo')).merNumber
					sendData.pageNo = that.pageNo
					sendData.pageCount = that.pageCount
					sendData.cell = that.cell
					CmsUtility.postAjaxCall(
						//系统设置
						CmsConfig.addressUrl.Member.getMembers,
						sendData,
						function(data) {
							if (data.code === 1000) {
								that.vipmemberi = data.data.memberList
								that.vipmemberNum = data.data.memberCount
								console.log(that.vipmemberi)
							} else {
								alert(data.msg)
							}
						},
						function(data) {
							console.log('222')
						},
						'get',
						'false'
					)
				},
				vipmemberinfo: function(data) {
					window.location.href = 'vipinfo.html?memberNo=' + data
				}
			},
			created() {
				this.getMembers()
			}
		})
	</script>

</html>
