<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>会员详情</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="./css/reset.css" media="all" />
		<!-- <link rel="stylesheet" type="text/css" href="./fonts/iconfont.css" media="all" /> -->
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1192462_drvin8iimxr.css" media="all" />
		<link rel="stylesheet" type="text/css" href="./css/style.css" media="all">
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="vipCenter B-gray" id="Vip">
			<div class="vipBlock vipmemberB">
				<div class="vipmember">
					<div class="vipmember_block vipmember_name">
						<img :src="[vip_avatarImg]" id="vip_avatarImg">
						<h3 class="vipmember_tit" v-cloak>{{vipmember_tit}}</h3>
					</div>
					<div class="vipmember_block vipmember_num" v-cloak>
						NO.<span>{{vipmember_num}}</span>
					</div>
					<div class="vipmember_block vipmember_level">
						<span class="icon iconfont iconwangguan"></span>
						<p>一级会员</p>
					</div>
				</div>
				<div class="vipclassdetail">
					<div class="vipclassdetail_block">
						<p class="vipclassdetail_tit">余额</p>
						<p class="vipclassdetail_data"><span id="vipclassdetail_ye" v-cloak>212.00</span>(元)</p>
					</div>
					<div class="vipclassdetail_block yhq">
						<p class="vipclassdetail_tit">优惠券</p>
						<p class="vipclassdetail_data"><span id="vipclassdetail_yhq" v-cloak>12</span>(张)</p>
					</div>
				</div>
			</div>
			<ul class="vipBlock vipclassify">
				<li class="vipclassifyi" v-cloak v-for="item in vipclassifyi" v-on:click="jump(item.address)">
					<span class="icon iconfont classifyimg" :class="item.classifyimg"></span>
					<p class="classifyitit">{{item.classifyitit}}</p>
				</li>
			</ul>
			<div class="vipBlock vipBill">
				<div class="vipBilltit">
					<p>最近账单</p>
					<a href="bill-list.html">查看更多</a>
				</div>
				<ul class="vipBillul">
					<li class="vipBilli" v-for="item in vipBilli" v-cloak>
						<div class="vipBilliL">
							<p :class="item.vipBillitit == 1?'vipBillitit recharge':'vipBillitit'">{{item.vipBillitit == 1?'充值':'消费'}}</p>
							<p class="vipBillitime">{{item.vipBillitime}}</p>
						</div>
						<div :class="item.vipBillitit == 1?'vipBilliR':'vipBilliR grayness'">
							<p :class="item.vipBillitit == 1?'vipBillimoney recharge':'vipBillimoney'"><span :class=" item.vipBillistate == 0?'':'linethrough'">{{item.vipBillitit == 1?'+':'-'}}¥
									{{item.vipBillimoney}}</span></p>
							<p :class="item.vipBillitit == 1?'vipBillistate recharge':'vipBillistate'">{{item.vipBillistate == 0?'成功':'失败'}}</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="./js/jquery.min.js"></script>
	<script src="./common/config.js"></script>
	<script src="./common/utility.js"></script>
	<script src="./lib/layer/layer.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/qrcode.min.js"></script>
	<script>
		$(document).ready(function() {
			var cardBglv = 2
			var newImg = document.createElement("img");
			newImg.src = './img/vipCard-bg' + cardBglv + '.png';
			newImg.className = 'img'
			$(".vipmember_level").after(newImg);
			$(".yhq").click(function() {
				window.location.href = "coupons.html"
			});
			$(".vipmember_code").click(function() {
				payCode()
				// makeCode();
			})

		})
		new Vue({
			el: '#Vip',
			data: {
				vipmember_tit: "李先生",
				vipmember_num: "12345678987654321234",
				vip_avatarImg: "./img/vip-img.jpg",
				vipclassifyi: [{
					classifyimg: "iconchongzhi-",
					classifyitit: "充值",
					address: "recharge.html"
				}, {
					classifyimg: "iconxiaofei",
					classifyitit: "消费",
					address: "consume.html"
				}, {
					classifyimg: "iconziliao",
					classifyitit: "修改资料",
					address: "vipinfo-edit.html"
				}],
				vipBilli: [{
					vipBillitit: 1,
					vipBillitime: "2019-05-14",
					vipBillistate: 0,
					vipBillimoney: "101.00"
				}, {
					vipBillitit: 2,
					vipBillitime: "2019-05-14",
					vipBillistate: 1,
					vipBillimoney: "101.00"
				}, {
					vipBillitit: 1,
					vipBillitime: "2019-05-14",
					vipBillistate: 0,
					vipBillimoney: "11.00"
				}, {
					vipBillitit: 2,
					vipBillitime: "2019-05-14",
					vipBillistate: 1,
					vipBillimoney: "161.00"
				}, {
					vipBillitit: 1,
					vipBillitime: "2019-05-14",
					vipBillistate: 0,
					vipBillimoney: "101.00"
				}, {
					vipBillitit: 2,
					vipBillitime: "2019-05-14",
					vipBillistate: 1,
					vipBillimoney: "201.00"
				}, {
					vipBillitit: 1,
					vipBillitime: "2019-05-14",
					vipBillistate: 0,
					vipBillimoney: "101.00"
				}, {
					vipBillitit: 2,
					vipBillitime: "2019-05-14",
					vipBillistate: 1,
					vipBillimoney: "352.00"
				}, {
					vipBillitit: 1,
					vipBillitime: "2019-05-14",
					vipBillistate: 0,
					vipBillimoney: "101.00"
				}, {
					vipBillitit: 2,
					vipBillitime: "2019-05-14",
					vipBillistate: 1,
					vipBillimoney: "101.00"
				}]
			},
			methods: {
				jump: function(data) {
					window.location.href = data
				}
			}
		})
	</script>

</html>
