body {
    overflow-x: hidden;
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 200;
}
.shop:before {
   content : ' ' ;
   position : fixed ;
   z-index : -1 ;
   top : 0 ;
   right : 0 ;
   bottom : 0 ;
   left : 0 ;
   background: url('../img/ditu-shop.png') no-repeat;
   background-size: 100% 100%;
}
.header,.shuju,.yanfa,.hezuo,.news{
    background-color: #fff;
}
.com{
    padding-top: 0.45rem;
}
.hezuo{
    padding-top: 1.066666666666667rem;
}
.hezuo-img{
    margin-top: 0 !important;
}
..com-title {
    margin-top: 0 !important;
}
* {
    transition: 0.3s linear;
}

a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* 头部 */
.header {
    width: 100%;
    height: 1.06rem;
}

.header-log {
    width: 1.3rem;
    height: 0.53rem;
    float: left;
    margin-left: 0.4rem;
    margin-top: 0.26rem;
}

.header-more {
    width: 0.4rem;
    height: 0.48rem;
    float: right;
    margin-top: 0.3rem;
    margin-right: 0.4rem;
}

/* daohang */
.nav {
    width: 7.733333333333333rem;
    padding: 0 0.533333333333333rem;
    background-color: #fff;
    position: absolute;
    top: 1.06rem;
    z-index: 99999;
    right: -8.8rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-all {
    width: 100%;
    height: 100%;
}

.nav-item {
    width: 100%;
    height: 1.506666666666667rem;
    opacity: 1;
    font-size: 0.4rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #333333;
    line-height: 1.506666666666667rem;
    border-bottom: 0.013333333333333rem solid #dcdcdc;
    position: relative;
}

.nav-jiameng {
    width: 3.733333333333333rem;
    height: 1.333333333333333rem;
    margin: 0 auto;
    background: url('../img/jiameng.png') no-repeat;
    background-size: 100% 100%;
    margin-top: 2rem;
}

.nav-tag {
    width: 0.4rem;
    height: 0.4rem;
    background: url('../img/nav-tag1.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 0.133333333333333rem;
    margin-top: 0.533333333333333rem;
}

.nav-tag1 {
    width: 0.32rem;
    height: 0.4rem;
    background: url('../img/nav-tag2.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 0.133333333333333rem;
    margin-top: 0.533333333333333rem;
}

.nav-more {
    width: 0.213333333333333rem;
    height: 0.32rem;
    float: right;
    margin-top: 0.6rem;
    background: url('../img/nav-more.png') no-repeat;
    background-size: 100% 100%;
}

.nav-chanpin {
    width: 100%;
    height: auto;
    padding-bottom: 1.333333333333333rem;
}

.nav-chanpin-back {
    width: 100%;
    height: 0.493333333333333rem;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
}

.nav-chanpin-back-logo {
    width: 0.213333333333333rem;
    height: 0.32rem;
    float: left;
    background: url('../img/nav-more.png') no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg);
    vertical-align: top;
    margin-top: 0.106666666666667rem;
    margin-right: 0.266666666666667rem;

}

.nav-chanpin-back-text {
    width: 0.693333333333333rem;
    height: 0.493333333333333rem;
    opacity: 1;
    font-size: 0.346666666666667rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #333333;
    line-height: 0.493333333333333rem;
    float: left;
    vertical-align: top
}

.nav-chanpin-name {
    width: 100%;
    height: 0.56rem;
    opacity: 1;
    font-size: 0.4rem;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: justify;
    color: #333333;
    line-height: 0.56rem;
    padding-bottom: 0.4rem;
    border-bottom: 0.013rem solid #dcdcdc;
}

.nav-chanpin-h2 {
    width: 100%;
    height: 1rem;
    opacity: 1;
    font-size: 0.346666666666667rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #999999;
    line-height: 1rem;
}

.nav-chanpin-item {
    width: 100%;
    height: 1.333rem;
    opacity: 1;
    font-size: 0.346666666666667rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #333333;
    line-height: 1.333rem;
    border-bottom: 0.013rem solid #dcdcdc;
    position: relative;
}

































































/* banner */
.banner {
    width: 100%;
    height: 12rem;
    position: relative;
}

.banner-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.banner-nav {
    width: 100%;
    height: 0.16rem;
    position: absolute;
    left: 0;
    bottom: 1.466666666666667rem;
    display: flex;
    justify-content: center;
    z-index: 500;
}

.banner-nav-item {
    width: 0.16rem;
    height: 0.16rem;
    opacity: 0.5;
    background: #ffffff;
    border-radius: 50%;
    margin-right: 0.24rem;
}

.banner-nav-item-act {
    width: 0.4rem;
    height: 0.16rem;
    opacity: 1;
    background: #ffffff;
    border-radius: 0.08rem;
    margin-right: 0.24rem;
}

#bannerHref {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}































/* 数据 */
.shuju {
    width: 9.2rem;
    height: 3.87rem;
    padding: 0 0.4rem;
    margin-top: -0.67rem;
}

.shuju-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.266666666666667rem;
}

.shuju-bot {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shuju-item {
    width: 2.906666666666667rem;
    height: 1.466666666666667rem;
    background: #ffffff;
    border: 0.013333333333333rem solid #ffbaa2;
    border-radius: 0.146666666666667rem;
    box-shadow: 0.053333333333333rem 0.053333333333333rem 0.133333333333333rem 0px rgba(0, 0, 0, 0.10);
    background: #fff;
    position: relative;
}

.shuju-bot .shuju-item:nth-of-type(1) {
    margin-right: 0.506666666666667rem;
}

.shuju-item-img {
    width: 0.64rem;
    height: 0.666666666666667rem;
    position: absolute;
    right: 0.133333333333333rem;
    bottom: 0.266666666666667rem;
}

.shuju-item-text {
    width: 100%;
    height: 0.56rem;
    opacity: 1;
    font-size: 0.4rem;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    color: #ff4201;
    line-height: 0.56rem;
    text-indent: 0.266666666666667rem;
    margin-top: 0.186666666666667rem;
    margin-bottom: 0.026666666666667rem;
}

.shuju-item-name {
    width: 100%;
    height: 0.44rem;
    opacity: 1;
    font-size: 0.32rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    color: #999999;
    line-height: 0.44rem;
    text-indent: 0.266666666666667rem;
}

/* 公司介绍 */
.com {
    width: 100%;
    /* height: 16.8rem; */
    height: auto;
    background: url('../img/bg-com.png') no-repeat;
    background-size: 100% 100%;
    padding-bottom: 0.93rem;
}

.com-title {
    width: 100%;
    height: 0.75rem;
    opacity: 1;
    font-size: 0.53rem;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #333333;
    line-height: 0.75rem;
    margin-top: 0.45rem;
    margin-bottom: 0.13rem;
}

.com-line {
    width: 0.88rem;
    height: 0.05rem;
    background-color: #FE490A;
    margin: 0 auto;
    margin-bottom: 0.33rem;
}

.com-text {
    width: 9.2rem;
    height: 2rem;
    margin: 0 auto;
    opacity: 1;
    font-size: 0.35rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #666666;
    line-height: 0.66rem;
    overflow: hidden;
}

.com-more {
    width: 0.33rem;
    height: 0.18rem;
    margin: 0 auto;
    margin-top: 0.26rem;
    margin-bottom: 0.53rem;
    background: url('../img/more.png') no-repeat;
    background-size: 100% 100%;
}

.com-box {
    width: 7.2rem;
    height: 9.3rem;
    margin: 0 auto;
    position: relative;
}

.com-imgList {
    width: 22.93rem;
    height: 9.3rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
}

.com-imgList-item {
    width: 7.2rem;
    height: 9.33rem;
    box-shadow: 0.053333333333333rem 0.053333333333333rem 0.133333333333333rem 0px rgba(0, 0, 0, 0.10);
}

.com-imgList-item:nth-of-type(2) {
    margin: 0 0.67rem;
}

.com-go {
    width: 4.02rem;
    height: 1.04rem;
    background: url('../img/com-more.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 0.8rem;
    position: relative;
}

/* 行业解决方案 */
.hangye {
    width: 100%;
    height: 12rem;
    background: url('../img/bg-hangye1.png') no-repeat;
    background-size: 100% 100%;
}

.hangye-tianchong {
    width: 100%;
    height: 1.06rem;
}

.hangye-title {
    width: 100%;
    height: 0.746rem;
    opacity: 1;
    font-size: 0.53rem;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    line-height: 0.746rem;
    margin-bottom: 0.27rem;
}

.hangye-line {
    width: 0.88rem;
    height: 0.05rem;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 0.33rem;
}

.hangye-text {
    width: 100%;
    height: 0.44rem;
    opacity: 1;
    font-size: 0.32rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 0.44rem;
}

.hangye-img {
    width: 9.733333333333333rem;
    height: 7.066666666666667rem;
    margin: 0 auto;
    margin-top: 0.666666666666667rem;
    background: url('../img/hangye1.png') no-repeat;
    background-size: 100% 100%;
}

.hangye-tag {
    width: 100%;
    height: 0.16rem;
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
}

.hangye-tag-item {
    width: 0.16rem;
    height: 0.16rem;
    opacity: 0.5;
    border: 0.013333333333333rem solid #fe490a;
    border-radius: 50%;
    margin-right: 0.24rem;
}

.hangye-tag-item-act {
    width: 0.4rem;
    height: 0.16rem;
    opacity: 1;
    background: #fe490a;
    border-radius: 0.08rem;
}

/* 产品矩阵 */
.chanpin {
    width: 100%;
    height: 17.786666666666667rem;
    background: url('../img/bg-chanpin1.png') no-repeat;
    background-size: 100% 100%;
}

.chanpin-title {
    width: 100%;
    height: 0.746666666666667rem;
    opacity: 1;
    font-size: 0.533333333333333rem;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    line-height: 0.746666666666667rem;
    margin-bottom: 0.266666666666667rem;
}

.chanpin-line {
    width: 0.88rem;
    height: 0.05rem;
    background-color: #FE490A;
    margin: 0 auto;
    margin-bottom: 0.33rem;
}

.chanpin-text {
    width: 100%;
    height: 0.44rem;
    opacity: 1;
    font-size: 0.32rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 0.44rem;
}

.chanpin-img {
    width: 9.2rem;
    height: 11.466666666666667rem;
    margin: 0 auto;
    margin-top: 1.333333333333333rem;
    background: url('../img/chanpin1.png') no-repeat;
    background-size: 100% 100%;
}

.chanpin-tag {
    width: 100%;
    height: 0.16rem;
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
}

.chanpin-tag-item {
    width: 0.16rem;
    height: 0.16rem;
    margin-right: 0.24rem;
    opacity: 0.5;
    background: #ffffff;
    border-radius: 50%;
}

.chanpin-tag-item-act {
    width: 0.4rem;
    height: 0.16rem;
    opacity: 1;
    background: #fe490a;
    border-radius: 0.08rem;
}

/* 研发体系 */
.yanfa {
    width: 100%;
    height: 21.333333333333333rem;
}

.yanfa-tianchong {
    width: 100%;
    height: 1.066666666666667rem;
}

.yanfa-img {
    width: 9.733333333333333rem;
    height: 20rem;
    margin: 0 auto;
    /* margin-left: 14px;
    margin-right: 6px; */
    background: url('../img/yanfa.png') no-repeat;
    background-size: 100% 100%;
}

/* 服务体系 */
.fuwu {
    width: 100%;
    height: 25.066666666666667rem;
    background: url('../img/bg-fuwu.png') no-repeat;
    background-size: 100% 100%;
}

.fuwu-tianchong {
    width: 100%;
    height: 1.146666666666667rem;
}

.fuwu-title {
    width: 100%;
    height: 0.666666666666667rem;
    opacity: 1;
    font-size: 0.48rem;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #333333;
    line-height: 0.666666666666667rem;
}

.fuwu-line {
    width: 0.88rem;
    height: 0.05rem;
    opacity: 0.5;
    background-color: #fe490a;
    margin: 0 auto;
    margin-bottom: 0.33rem;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
}

.fuwu-item {
    width: 8.133333333333333rem;
    height: 1.6rem;
    /* height: auto; */
    padding: 0 0.533333333333333rem;
    background-color: #fff;
    border-radius: 0.16rem;
    margin: 0 auto;
    margin-bottom: 0.533333333333333rem;
    overflow: hidden;
}

.fuwu-item-top {
    width: 100%;
    height: 1.6rem;
}

.fuwu-item-img {
    width: 1.066666666666667rem;
    height: 0.933333333333333rem;
    margin-left: 0;
    margin-top: 0.346666666666667rem;
    float: left;
}

.fuwu-item-title {
    width: 1.493333333333333rem;
    height: 0.533333333333333rem;
    opacity: 1;
    font-size: 0.373333333333333rem;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: left;
    color: #333333;
    line-height: 0.533333333333333rem;
    margin-left: 0.4rem;
    margin-top: 0.533333333333333rem;
    float: left;
}

.fuwu-item-icon {
    width: 0.266666666666667rem;
    height: 0.133333333333333rem;
    float: right;
    margin-right: 0.533333333333333rem;
    margin-top: 0.733333333333333rem;
}

.fuwu-item-bot {
    width: 100%;
    height: 1.466666666666667rem;
    border-top: 0.013333333333333rem solid #d6d6d6;
    padding: 0.4rem 0 0.48rem 0;

    opacity: 1;
    font-size: 0.346666666666667rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #666666;
    line-height: 0.493333333333333rem;
}

/* 地图 */
.ditu {
    width: 100%;
    height: 9.866666666666667rem;
   
    position: relative;
    z-index: 9999;
    background-attachment: fixed;
}



.ditu-shop {
    width: 100%;
    height: 9.866666666666667rem;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/ditu.png') no-repeat;
    background-size: 100% 100%;

    z-index: 500;
}

/* 合作 */
.hezuo {
    width: 100%;
    height: 16rem;

}

.hezuo-img {
    width: 8.666666666666667rem;
    height: 12.4rem;
    background: url('../img/hezuo.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 1.066666666666667rem;
    padding: 0.133333333333333rem;
    /* border: 1px dashed black; */
}

.hezuo-more {
    width: 2.933333333333333rem;
    height: 1.2rem;
    background: url('../img/hezuo-more.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 1rem;
    position: relative;
}

/* 品牌 */
.pinpai {
    width: 100%;
    height: 13.333333333333333rem;
    background: url('../img/bg-pinpai.png') no-repeat;
    background-size: 100% 100%;
}

.pinpai-tianchong {
    width: 100%;
    height: 1.066666666666667rem;
}

.pinpai-title {
    width: 100%;
    height: 0.666666666666667rem;
    opacity: 1;
    font-size: 0.48rem;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #333333;
    line-height: 0.666666666666667rem;
}

.pinpai-line {
    width: 0.88rem;
    height: 0.053333333333333rem;
    opacity: 0.5;
    background: #fe490a;
    border-radius: 0.04rem;
    margin: 0 auto;
    margin-top: 0.266666666666667rem;
    margin-bottom: 0.4rem;
}

.pinpai-box {
    width: 9.2rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
}

.pinpai-box-item {
    width: 2.88rem;
    height: 1.333333333333333rem;
    margin-bottom: 0.666666666666667rem;
}

.pinpai-more {
    width: 9.2rem;
    height: 0.88rem;
    opacity: 1;
    background: #ffffff;
    border-radius: 0.133333333333333rem;
    margin: 0 auto;

    opacity: 1;
    font-size: 0.32rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #666666;
    line-height: 0.88rem;
    margin-top: 0.266666666666667rem;
    position: relative;
}

/* 新闻 */
.news {
    width: 100%;
    height: 14.666666666666667rem;
    overflow: hidden;
    padding-bottom: 1rem;
}

.news-box {
    width: 10rem;
    height: auto;
    margin: 0 auto;
    margin-top: 0.933333333333333rem;
}

.news-nav {
    width: 100%;
    height: 0.8rem;
}

.news-nav-left {
    width: 1.92rem;
    height: 0.666666666666667rem;
    opacity: 1;
    font-size: 0.48rem;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    color: #333333;
    line-height: 0.666666666666667rem;
    float: left;
    margin-left: 0.4rem;
}

.news-nav-right {
    width: auto;
    height: 0.8rem;
    float: right;
}

.news-nav-item {
    width: 1.28rem;
    height: 0.706666666666667rem;
    opacity: 1;
    font-size: 0.32rem;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    color: #333333;
    line-height: 0.706666666666667rem;
    float: left;
    margin-right: 0.4rem;
}

.news-nav-item-act {
    color: #fe490a;

    border-bottom: 0.04rem solid #FE490A;
}

.news-list-box {
    width: 20rem;

}

.news-list {
    width: 9.2rem;
    padding: 0 0.4rem;
    float: left;
}

.news-cont {
    width: 100%;
    height: 4rem;
    position: relative;
    background: url('../img/news1.png') no-repeat;
    background-size: cover;
    margin-top: 0.453333333333333rem;
    margin-bottom: 0.266666666666667rem;
}

.news-cont-bot {
    width: 100%;
    height: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.news-cont-text {
    width: 7.2rem;
    height: 0.8rem;
    float: left;
    opacity: 1;
    font-size: 0.32rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    line-height: 0.8rem;
    text-indent: 0.266666666666667rem;
}

.news-cont-date {
    width: 1.92rem;
    height: 0.8rem;
    opacity: 1;
    background: #fe490a;
    border-radius: 0px;
    float: right;

    opacity: 1;
    font-size: 0.32rem;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    line-height: 0.8rem;
}

.news-item {
    width: 100%;
    height: 1.333333333333333rem;
    border-bottom: 0.013333333333333rem solid #dedede;
}

.news-item-text {
    width: 8rem;
    height: 1.333333333333333rem;
    opacity: 1;
    font-size: 0.373333333333333rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
    line-height: 1.333333333333333rem;
    float: left;
}

.news-item-date {
    width: 1.133333333333333rem;
    height: 1.333333333333333rem;
    opacity: 1;
    font-size: 0.373333333333333rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: right;
    color: #333333;
    line-height: 1.333333333333333rem;
    float: right;
}

.news-more {
    width: 2.4rem;
    height: 0.8rem;
    background: url('../img/news-more.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 0.933333333333333rem;
}

/* footer */
.footer {
    width: 100%;
    height: 5.066666666666667rem;
    opacity: 1;
    background: #242424;
}

.foot-tianchong {
    width: 100%;
    height: 0.666666666666667rem;
}

.foot-box {
    width: 8.4rem;
    height: auto;
    margin: 0 auto;
}

.foot-logo {
    width: 100%;
    height: 0.64rem;
    margin-bottom: 0.4rem;
}

.foot-logo-item {
    width: 2.4rem;
    height: 0.64rem;
    background-color: #fff;
    float: left;
    background: url('../img/foot-logo1.png') no-repeat;
    background-size: 100% 100%;
}

.foot-logo-item1 {
    width: 1.746666666666667rem;
    height: 0.573333333333333rem;
    background-color: #fff;
    float: left;
    margin-top: 0.026666666666667rem;
    background: url('../img/foot-logo2.png') no-repeat;
    background-size: 100% 100%;
}

.foot-logo-item2 {
    width: 2.093333333333333rem;
    height: 0.52rem;
    background-color: #fff;
    float: left;
    margin-top: 0.066666666666667rem;
    background: url('../img/foot-logo3.png') no-repeat;
    background-size: 100% 100%;
}

.foot-logo-line {
    width: 0.013333333333333rem;
    height: 0.453333333333333rem;
    opacity: 1;
    border: 0.013333333333333rem solid #979797;
    float: left;
    margin: 0 0.52rem;
    margin-top: 0.093333333333333rem;
}

.foot-info {
    width: 100%;
    height: 0.6rem;
    opacity: 1;
    font-size: 0.32rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #dedede;
    line-height: 0.6rem;
}

.foot-banquan {
    width: 100%;
    height: 1.266666666666667rem;
    margin-top: 0.533333333333333rem;
    border-top: 0.013333333333333rem solid #686868;
    padding-top: 0.333333333333333rem;
}

.foot-banquan-info {
    width: 100%;
    height: 0.333333333333333rem;
    opacity: 1;
    font-size: 0.24rem;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #b9b9b9;
    line-height: 0.333333333333333rem;
}